@model AccelerateNetworks.Operations.ProductOrder

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 p-3">🎁 Product Delete</h1>
<div class="alert alert-danger" role="alert">
    Are you sure you want to delete this?
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DialedNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DialedNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortedDialedNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortedDialedNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortedPhoneNumberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortedPhoneNumberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerifiedPhoneNumberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerifiedPhoneNumberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouponId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponId)
        </dd>
    </dl>
    <p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductOrderId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </p>
    <p>
        <a href="/Order/@Model?.OrderId/ProductOrders" class="btn btn-outline-primary">Back to List</a>
    </p>
</div>
