@model IEnumerable<NumberSearch.Ops.EFModels.ProductOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DialedNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortedDialedNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortedPhoneNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedPhoneNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DialedNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortedDialedNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortedPhoneNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedPhoneNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
