@model AccelerateNetworks.Operations.Product

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-4 p-3">🎁 Product Delete</h1>
<div class="alert alert-danger" role="alert">
    Are you sure you want to delete this?
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPartNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorPartNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>
    <p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </p>
    <p>
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </p>
</div>
