@model AccelerateNetworks.Operations.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4 p-3">🎁 Product Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstallTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstallTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPartNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorPartNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorFeatures)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorFeatures)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarkdownContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarkdownContent)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning">Edit</a>
</p>
<p>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</p>
