@model NumberSearch.Mvc.Models.NewClientResult;

@{
    ViewData["Title"] = "New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orderedPhones = Model?.ProductOrders?.Where(x => x.ProductId != Guid.Empty).ToArray();
}

<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">Tell us what you need</h1>
                <p class="lead text-white">Help us get you all setup as our newest client.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="alert alert-secondary mt-3" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immedate help filling out this form. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
    <div class="row">
        <form method="post">
            <input type="text" class="form-control" asp-for="NewClient.NewClientId" id="newClientId" hidden>
            <input type="text" class="form-control" asp-for="NewClient.OrderId" id="orderId" hidden>
            <input type="text" class="form-control" asp-for="NewClient.BillingClientId" id="billingId" hidden>
            <div class="col">
                <p>Who will be using each phone? Does anyone need an extension without a phone (eg: Voicemail to email or Mobile/PC app only)? What is each user’s email address? Do you have any extensions currently?</p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension #
                                </th>
                                <th>
                                    Name/Location
                                </th>
                                <th>
                                    Email (Optional)
                                </th>
                                <th>
                                    Model of Phone
                                </th>
                                <th>
                                    Outbound Caller ID
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="regextstable">
                            @if (Model?.NewClient?.ExtensionRegistrations is not null)
                            {
                                foreach (var number in Model?.NewClient?.ExtensionRegistrations)
                                {
                                    <tr id='@number.ExtensionRegistrationId'>
                                        <td>@number?.ExtensionNumber</td>
                                        <td>@number?.NameOrLocation</td>
                                        <td>@number?.Email</td>
                                        <td>@number?.ModelOfPhone</td>
                                        <td>@number?.OutboundCallerId</td>
                                        <td>
                                            <button type="button" onclick='RemoveExtensionRegistration("@Model?.NewClient?.NewClientId", "@number.ExtensionRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="ext" placeholder="Extension Number" pattern="[0-9]{2,14}">
                        <input type="text" class="form-control" id="nameOrLocation" placeholder="Name or Location">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                        <input type="text" class="form-control" id="model" list="model-list" placeholder="Model of Phone">
                        <datalist id="model-list">
                            @{
                                foreach (var item in orderedPhones)
                                {
                                    var productName = Model?.Products?.Where(x => x.ProductId == item.ProductId).FirstOrDefault()?.Name;
                                    <option value="@productName">@productName</option>
                                }

                                if (orderedPhones is null || orderedPhones.Length < 1)
                                {
                                    foreach (var product in Model?.Products)
                                    {
                                        <option value="@product.Name">@product.Name</option>
                                    }
                                }
                            }
                        </datalist>
                        <input type="text" class="form-control" id="callerId" list="callerId-list" placeholder="Outbound Caller Id">
                        <datalist id="callerId-list">
                            @{
                                foreach (var number in Model?.PhoneNumbers)
                                {
                                    <option value="@number">@number</option>
                                }
                            }
                        </datalist>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddExtensionRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('ext').value,
                                                document.getElementById('nameOrLocation').value,
                                                document.getElementById('email').value,
                                                document.getElementById('model').value,
                                                document.getElementById('callerId').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">When someone calls, should they ring certain phones or be greeted with a menu? ( Check the box for yes. )</p>
                <div class="input-group">
                    <input type="checkbox" asp-for="NewClient.PhoneMenu" class="form-control" />
                    <textarea class="form-control" aria-label="With textarea" asp-for="NewClient.PhonesToRingOrMenuDescription"></textarea>
                </div>
                <p>What are your business hours? Do you want calls to route directly to voicemail or a menu after business hours or during lunch? </p>
                <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" asp-for="NewClient.BusinessHours"></textarea>
                </div>
                <p>Confirm whose voicemail box should receive calls outside of business hours.</p>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="NewClient.AfterHoursVoicemail" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <p>What does each of these phone numbers do for your business? We can prefix a word to the Caller Name for inbound calls to enable you to differentiate callers easily! Eg: Main #, Fax, Back #</p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Prefix (if desired)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="numdestable">
                            @if (Model?.NewClient?.NumberDescriptions is not null)
                            {
                                foreach (var number in Model?.NewClient?.NumberDescriptions)
                                {
                                    <tr>
                                        <td>@number?.PhoneNumber</td>
                                        <td>@number?.Description</td>
                                        <td>@number?.Prefix</td>
                                        <td>
                                            <button type="button" onclick='RemoveNumberDescription("@Model?.NewClient?.NewClientId", "@number.NumberDescriptionId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="phoneNumber" list="phoneNumber-list" placeholder="Phone Number">
                        <datalist id="phoneNumber-list">
                            @{
                                foreach (var number in Model?.PhoneNumbers)
                                {
                                    <option value="@number">@number</option>
                                }
                            }
                        </datalist>
                        <input type="text" class="form-control" id="description" placeholder="Description">
                        <input type="text" class="form-control" id="prefix" placeholder="Prefix">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddNumberDescription(document.getElementById('newClientId').value,
                                                document.getElementById('phoneNumber').value,
                                                document.getElementById('description').value,
                                                document.getElementById('prefix').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">Do you use any texting service, overhead paging speakers, intercom, or have any speed dial keys you would like us to configure?</p>
                <div class="input-group">
                    <input type="checkbox" asp-for="NewClient.TextingService" class="form-control" />
                    <input type="text" class="form-control" asp-for="NewClient.TextingServiceName" aria-label="TextingServiceName" aria-describedby="basic-addon1">
                </div>
                <p>What speakers and amplifier are in use, we recommend using a Snom PA1 paging adapter with most speaker systems.</p>
                <div class="input-group">
                    <input type="checkbox" asp-for="NewClient.OverheadPaging" class="form-control" />
                    <textarea class="form-control" aria-label="With textarea" asp-for="NewClient.OverheadPagingDescription"></textarea>
                </div>
                <p>
                    Who do you intercom? Can they talk back to you or is it one way audio?
                    List any intercom keys that should be configured below:
                </p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension making the call to Intercom
                                </th>
                                <th>
                                    Extension receiving the Intercom
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="intercomtable">
                            @if (Model?.NewClient?.IntercomRegistrations is not null)
                            {
                                foreach (var number in Model?.NewClient?.IntercomRegistrations)
                                {
                                    <tr>
                                        <td>@number?.ExtensionSendingIntercom</td>
                                        <td>@number?.ExtensionRecievingIntercom</td>
                                        <td>
                                            <button type="button" onclick='RemoveIntercomRegistration("@Model?.NewClient?.NewClientId", "@number.IntercomRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="outgoing" placeholder="Extension making the call to Intercom">
                        <input type="text" class="form-control" id="incoming" placeholder="Extension receiving the Intercom">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddIntercomRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('outgoing').value,
                                                document.getElementById('incoming').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">
                    Do you want any speed dial keys configured to enable easy calling or transferring of calls?
                </p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Phone Number/Extension Number
                                </th>
                                <th>
                                    Label/Name
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="speeddialtable">
                            @if (Model?.NewClient?.SpeedDialKeys is not null)
                            {
                                foreach (var number in Model?.NewClient?.SpeedDialKeys)
                                {
                                    <tr>
                                        <td>@number?.NumberOrExtension</td>
                                        <td>@number?.LabelOrName</td>
                                        <td>
                                            <button type="button" onclick='RemoveSpeedDialKey("@Model?.NewClient?.NewClientId", "@number.SpeedDialKeyId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="numberOrExt" placeholder="Phone Number/Extension Number">
                        <input type="text" class="form-control" id="labelOrName" placeholder="Label/Name">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddSpeedDialKey(document.getElementById('newClientId').value,
                                                document.getElementById('numberOrExt').value,
                                                document.getElementById('labelOrName').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">Is there any custom hold music you would prefer to use? By default we play Claire De Lune and a few other classical songs as your music on hold.</p>
                <div class="input-group">
                    <input type="checkbox" asp-for="NewClient.CustomHoldMusic" class="form-control" />
                    <textarea class="form-control" aria-label="With textarea" asp-for="NewClient.HoldMusicDescription"></textarea>
                </div>
                <p>When a phone is offline, should calls be forwarded anywhere special? By default they will reach your voicemail or after hours menu.</p>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="NewClient.PhoneOfflineInstructions" aria-label="Offline" aria-describedby="basic-addon1">
                </div>
                <p>
                    We can also have your cellphone ring at the same time as your office phone if you enter your cellphone # under Follow Me below!
                </p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension Number
                                </th>
                                <th>
                                    Cell # for Follow Me
                                </th>
                                <th>
                                    Forward to # when unreachable
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="followMeTable">
                            @if (Model?.NewClient?.FollowMeRegistrations is not null)
                            {
                                foreach (var number in Model?.NewClient?.FollowMeRegistrations)
                                {
                                    <tr>
                                        <td>@number?.NumberOrExtension</td>
                                        <td>@number?.CellPhoneNumber</td>
                                        <td>@number?.UnreachablePhoneNumber</td>
                                        <td>
                                            <button type="button" onclick='RemoveFollowMeRegistration("@Model?.NewClient?.NewClientId", "@number.FollowMeRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="extNum" placeholder="Extension Number">
                        <input type="text" class="form-control" id="cellPhone" placeholder="Cell # for Follow Me">
                        <input type="text" class="form-control" id="forwardTo" placeholder="Forward to # when unreachable">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddFollowMeRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('extNum').value,
                                                document.getElementById('cellPhone').value,
                                                document.getElementById('forwardTo').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success btn-lg btn-block mt-3"> Submit </button>
            </div>
        </form>
    </div>
    <div class="alert alert-secondary mt-3" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immedate help filling out this form. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
</div>