@model NumberSearch.Mvc.Models.NewClientResult;

@{
    ViewData["Title"] = "New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orderedPhones = Model?.ProductOrders?.Where(x => x.ProductId != Guid.Empty).ToArray();
}

@*https://stackoverflow.com/questions/48613992/bootstrap-4-file-input-doesnt-show-the-file-name*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        bsCustomFileInput.init()
        phoneMenuDiscription();
        textingServiceDescription();
        overheadPagingDescription();
        intercomDescription();
        speedDialDescription();
        customMusicDescription();

        $("#pmoption1").change(function () {
            phoneMenuDiscription();
        });

        $("#pmoption2").change(function () {
            phoneMenuDiscription();
        });

        $("#tsoption1").change(function () {
            textingServiceDescription();
        });

        $("#tsoption2").change(function () {
            textingServiceDescription();
        });

        $("#opoption1").change(function () {
            overheadPagingDescription();
        });

        $("#opoption2").change(function () {
            overheadPagingDescription();
        });

        $("#icoption1").change(function () {
            intercomDescription();
        });

        $("#icoption2").change(function () {
            intercomDescription();
        });

        $("#sdoption1").change(function () {
            speedDialDescription();
        });

        $("#sdoption2").change(function () {
            speedDialDescription();
        });

        $("#cmoption1").change(function () {
            customMusicDescription();
        });

        $("#cmoption2").change(function () {
            customMusicDescription();
        });

        function phoneMenuDiscription() {
            var selectedLocation = $('input[name="NewClient.PhoneMenu"]:checked').val();
            if (selectedLocation == 'true') {
                $("#phoneMenuTextAreaDescription").show();
                $("#phoneMenuTable").show();
                $("#phoneMenuForm").show();
            } else {
                $("#phoneMenuTextAreaDescription").hide();
                $("#phoneMenuTable").hide();
                $("#phoneMenuForm").hide();
            }
        }

        function textingServiceDescription() {
            var selectedLocation = $('input[name="NewClient.TextingService"]:checked').val();
            if (selectedLocation == 'true') {
                $("#TextingServiceTextArea").show();
            } else {
                $("#TextingServiceTextArea").hide();
            }
        }

        function overheadPagingDescription() {
            var selectedLocation = $('input[name="NewClient.OverheadPaging"]:checked').val();
            if (selectedLocation == 'true') {
                $("#OverheadPagingTextArea").show();
            } else {
                $("#OverheadPagingTextArea").hide();
            }
        }

        function intercomDescription() {
            var selectedLocation = $('input[name="NewClient.Intercom"]:checked').val();
            if (selectedLocation == 'true') {
                $("#IntercomTextArea").show();
                $("#IntercomTable").show();
                $("#IntercomInstructions").show();
                $("#IntercomForm").show();
            } else {
                $("#IntercomTextArea").hide();
                $("#IntercomTable").hide();
                $("#IntercomInstructions").hide();
                $("#IntercomForm").hide();
            }
        }

        function speedDialDescription() {
            var selectedLocation = $('input[name="NewClient.SpeedDial"]:checked').val();
            if (selectedLocation == 'true') {
                $("#SpeedDialDescriptions").show();
            } else {
                $("#SpeedDialDescriptions").hide();
            }
        }

        function customMusicDescription() {
            var selectedLocation = $('input[name="NewClient.CustomHoldMusic"]:checked').val();
            if (selectedLocation == 'true') {
                $("#CustomMusicTextArea").show();
            } else {
                $("#CustomMusicTextArea").hide();
            }
        }
    });
</script>

<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">New Client Worksheet</h1>
                <p class="lead text-white">Help us get you setup.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="alert alert-secondary mt-3" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immediate help filling out this form. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
    <form asp-controller="NewClient" asp-action="AddNewClientInformation" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="text" class="form-control" asp-for="NewClient.NewClientId" id="newClientId" hidden>
        <input type="text" class="form-control" asp-for="NewClient.OrderId" id="orderId" hidden>
        <input type="text" class="form-control" asp-for="NewClient.BillingClientId" id="billingId" hidden>
        <h4 class="mb-3 mt-3">Internet Connection</h4>
        <div class="row">
            <div class="col-4">
                <label for="ispname">Internet Service Provider (ISP) </label>
                <input type="text" class="form-control" id="ispname" asp-for="NewClient.ISP" placeholder="Comcast">
                <small class="text-muted">
                    Who is your Internet Service Provider? (ex. Comcast)
                </small>
            </div>
            <div class="col-4">
                <label for="recontractingdate">Contract Start Date</label>
                <input type="datetime-local" class="form-control" asp-for="NewClient.ContractStartDate" id="recontractingdate">
                <small class="text-muted">
                    When did your contract start with your ISP?
                </small>
            </div>
            <div class="col-4 mb-3">
                <label for="term">Term Commitment in Months</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="term" asp-for="NewClient.ContractCommitmentMonths" placeholder="6">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Months</span>
                    </div>
                    <small class="text-muted">
                        For how long are you committed to your current ISP?
                    </small>
                </div>
            </div>
            <div class="col-4">
                <label for="internetcost">Monthly Cost</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="number" class="form-control" id="internetcost" asp-for="NewClient.ContractMonthlyCost" placeholder="200">
                    <small class="text-muted">
                        What are you paying per month for internet service?
                    </small>
                </div>
            </div>
            <div class="col-4">
                <label for="upload">Upload Speed</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="upload" asp-for="NewClient.UploadSpeed" placeholder="1000">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Mbps</span>
                    </div>
                    <small class="text-muted">
                        What is you internet upload speed? Test <a href="https://speed.cloudflare.com/" target="_blank">here</a>.
                    </small>
                </div>
            </div>
            <div class="col-4">
                <label for="download">Download Speed</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="download" asp-for="NewClient.DownloadSpeed" placeholder="100">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Mbps</span>
                    </div>
                    <small class="text-muted">
                        What is you internet download speed? Test <a href="https://speed.cloudflare.com/" target="_blank">here</a>.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="mt-3">
                    What router is the client using? Include the manufacturer's name and the model number of the router.
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="router" aria-describedby="basic-addon1" asp-for="NewClient.ClientRouter" placeholder="Linksys T54W">
                </div>
                <p class="mt-3">
                    Who is the client's IT vendor? What their primary contact is at said vendor (name, email & phone #)
                </p>
                <div class="input-group mb-3">
                    <textarea class="form-control" rows="2" aria-label="With textarea" asp-for="NewClient.ClientITVendor" placeholder="Quick IT group Mike Mann mike@quickit.com 2065553456"></textarea>
                </div>
                <label for="inputGroupFile02">Networking Cabinet</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input asp-for="NewClient.BillImage" type="file" class="custom-file-input" id="inputGroupFile02" />
                        <span asp-validation-for="NewClient.BillImage"></span>
                        @{
                            var billLabel = string.IsNullOrWhiteSpace(Model?.NewClient?.BillImagePath) ? "Choose Image" : Model?.NewClient?.BillImagePath;
                        }
                        <label class="custom-file-label" for="inputGroupFile02">@billLabel</label>
                    </div>
                </div>
                <small class="text-muted">
                    Please take a picture of the current networking cabinet or network hardware
                </small>
                @if (!string.IsNullOrWhiteSpace(Model?.NewClient?.BillImagePath))
                {
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-success" href="https://ops.acceleratenetworks.com/Home/BillImage/@Model?.Order?.OrderId" target="_blank">Review Network Cabinet Image</a>
                        </div>
                }
            </div>
        </div>
        <h4 class="mb-3 mt-3">Phone Tree</h4>
        <div class="row">
            <div class="col">
                <p>Who will be using each phone? Does anyone need an extension without a phone (eg: Voicemail to email or Mobile/PC app only)? What is each user’s email address? Do you have any extensions currently?</p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension #
                                </th>
                                <th>
                                    Name/Location
                                </th>
                                <th>
                                    Email (Optional)
                                </th>
                                <th>
                                    Model of Phone
                                </th>
                                <th>
                                    Outbound Caller ID
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="regextstable">
                            @if (Model?.NewClient?.ExtensionRegistrations is not null)
                            {
                                foreach (var number in Model.NewClient.ExtensionRegistrations)
                                {
                                    <tr id='@number.ExtensionRegistrationId'>
                                        <td>@number?.ExtensionNumber</td>
                                        <td>@number?.NameOrLocation</td>
                                        <td>@number?.Email</td>
                                        <td>@number?.ModelOfPhone</td>
                                        <td>@number?.OutboundCallerId</td>
                                        <td>
                                            <button type="button" onclick='RemoveExtensionRegistration("@Model?.NewClient?.NewClientId", "@number?.ExtensionRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="ext" placeholder="Extension Number" pattern="[0-9]{2,14}" maxlength="14">
                        <input type="text" class="form-control" id="nameOrLocation" placeholder="Name or Location">
                        <input type="text" class="form-control" id="email" placeholder="Email">
                        <input type="text" class="form-control" id="model" list="model-list" placeholder="Model of Phone">
                        <datalist id="model-list">
                            @{

                                if ((orderedPhones is null || orderedPhones.Length < 1) && Model?.Products is not null)
                                {
                                    foreach (var product in Model.Products)
                                    {
                                        <option value="@product.Name">@product.Name</option>
                                    }
                                }
                                else
                                {
                                    foreach (var item in orderedPhones!)
                                    {
                                        var productName = Model?.Products?.Where(x => x.ProductId == item.ProductId).FirstOrDefault()?.Name;
                                        <option value="@productName">@productName</option>
                                    }
                                }

                            }
                        </datalist>
                        <input type="text" class="form-control" id="callerId" list="callerId-list" placeholder="Outbound Caller Id">
                        <datalist id="callerId-list">
                            @if (Model?.PhoneNumbers is not null)
                            {
                                foreach (var number in Model.PhoneNumbers)
                                {
                                    <option value="@number">@number</option>
                                }
                            }
                        </datalist>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddExtensionRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('ext').value,
                                                document.getElementById('nameOrLocation').value,
                                                document.getElementById('email').value,
                                                document.getElementById('model').value,
                                                document.getElementById('callerId').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">When someone calls, should they ring certain phones or be greeted with a menu?</p>
                <div class="input-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @{
                            if (Model?.NewClient?.PhoneMenu is not null && Model.NewClient.PhoneMenu)
                            {
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.PhoneMenu" type="radio" id="pmoption1" value="true" checked> Phone Menu
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.PhoneMenu" type="radio" id="pmoption2" value="false"> No Phone Menu
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.PhoneMenu" type="radio" id="pmoption1" value="true"> Phone Menu
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.PhoneMenu" type="radio" id="pmoption2" value="false" checked> No Phone Menu
                                </label>
                            }
                        }
                    </div>
                </div>
                <div class="input-group mt-3" id="phoneMenuTextAreaDescription">
                    <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="NewClient.PhonesToRingOrMenuDescription" placeholder="What would you like your menu to say? Eg: Thanks for calling Business Name, press 1 for..."></textarea>
                </div>
                <div class="table-responsive" id="phoneMenuTable">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Menu Option #
                                </th>
                                <th>
                                    Destination
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="menuopttable">
                            @if (Model?.NewClient?.NumberDescriptions is not null)
                            {
                                foreach (var number in Model.NewClient.PhoneMenuOptions)
                                {
                                    <tr>
                                        <td>@number?.MenuOption</td>
                                        <td>@number?.Destination</td>
                                        <td>@number?.Description</td>
                                        <td>
                                            <button type="button" onclick='RemovePhoneMenuOption("@Model?.NewClient?.NewClientId", "@number?.PhoneMenuOptionId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light" id="phoneMenuForm">
                    <div class="input-group">
                        <input type="text" class="form-control" id="menuOption" placeholder="Menu Option #">
                        <input type="text" class="form-control" id="menuOptionDestination" placeholder="Destination">
                        <input type="text" class="form-control" id="menuOptionDescription" placeholder="Description">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddPhoneMenuOption(document.getElementById('newClientId').value,
                                                document.getElementById('menuOption').value,
                                                document.getElementById('menuOptionDestination').value,
                                                document.getElementById('menuOptionDescription').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">What are your business hours? Do you want calls to route directly to voicemail or a menu after business hours or during lunch? </p>
                <div class="input-group">
                    <textarea class="form-control" rows="2" aria-label="With textarea" asp-for="NewClient.BusinessHours"></textarea>
                </div>
                <p class="mt-3">Confirm whose voicemail box should receive calls outside of business hours.</p>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="NewClient.AfterHoursVoicemail" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <p class="mt-3">What does each of these phone numbers do for your business? We can prefix a word to the Caller Name for inbound calls to enable you to differentiate callers easily! Eg: Main #, Fax, Back #</p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Prefix (if desired)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="numdestable">
                            @if (Model?.NewClient?.NumberDescriptions is not null)
                            {
                                foreach (var number in Model.NewClient.NumberDescriptions)
                                {
                                    <tr>
                                        <td>@number?.PhoneNumber</td>
                                        <td>@number?.Description</td>
                                        <td>@number?.Prefix</td>
                                        <td>
                                            <button type="button" onclick='RemoveNumberDescription("@Model?.NewClient?.NewClientId", "@number?.NumberDescriptionId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="phoneNumber" list="phoneNumber-list" placeholder="Phone Number">
                        <datalist id="phoneNumber-list">
                            @if (Model?.PhoneNumbers is not null)
                            {
                                foreach (var number in Model.PhoneNumbers)
                                {
                                    <option value="@number">@number</option>
                                }
                            }
                        </datalist>
                        <input type="text" class="form-control" id="description" placeholder="Description">
                        <input type="text" class="form-control" id="prefix" placeholder="Prefix">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddNumberDescription(document.getElementById('newClientId').value,
                                                document.getElementById('phoneNumber').value,
                                                document.getElementById('description').value,
                                                document.getElementById('prefix').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">Do you use any texting services? If so what are they called?</p>
                <div class="input-group">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                if (Model?.NewClient?.TextingService is not null && Model.NewClient.TextingService)
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.TextingService" type="radio" id="tsoption1" value="true" checked> Texting Service
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.TextingService" type="radio" id="tsoption2" value="false"> No Texting Service
                                    </label>
                                }
                                else
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.TextingService" type="radio" id="tsoption1" value="true"> Texting Service
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.TextingService" type="radio" id="tsoption2" value="false" checked> No Texting Service
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="input-group" id="TextingServiceTextArea">
                    <input type="text" class="form-control" rows="4" asp-for="NewClient.TextingServiceName" aria-label="TextingServiceName" aria-describedby="basic-addon1" placeholder="What are your Texting Services called?">
                </div>
                <p class="mt-3">Do you use any overhead paging speakers? What speakers and amplifier are in use, we recommend using a Snom PA1 paging adapter with most speaker systems.</p>
                <div class="input-group">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                if (Model?.NewClient?.OverheadPaging is not null && Model.NewClient.OverheadPaging)
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.OverheadPaging" type="radio" id="opoption1" value="true" checked> Overhead Paging
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.OverheadPaging" type="radio" id="opoption2" value="false"> No Overhead Paging
                                    </label>
                                }
                                else
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.OverheadPaging" type="radio" id="opoption1" value="true"> Overhead Paging
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.OverheadPaging" type="radio" id="opoption2" value="false" checked> No Overhead Paging
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="input-group" id="OverheadPagingTextArea">
                    <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="NewClient.OverheadPagingDescription" placeholder="What speakers and amplifier are in use, we recommend using a Snom PA1 paging adapter with most speaker systems."></textarea>
                </div>
                <p class="mt-3">
                    Who do you intercom? Can they talk back to you or is it one way audio?
                </p>
                <div class="input-group">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                if (Model?.NewClient?.Intercom is not null && Model.NewClient.Intercom)
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.Intercom" type="radio" id="icoption1" value="true" checked> Intercom
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.Intercom" type="radio" id="icoption2" value="false"> No Intercom
                                    </label>
                                }
                                else
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.Intercom" type="radio" id="icoption1" value="true"> Intercom
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.Intercom" type="radio" id="icoption2" value="false" checked> No Intercom
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="input-group" id="IntercomTextArea">
                    <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="NewClient.IntercomDescription" placeholder="Can they talk back to you or is it one way audio?"></textarea>
                </div>
                <p class="mt-3" id="IntercomInstructions">
                    List any intercom keys that should be configured below:
                </p>
                <div class="table-responsive" id="IntercomTable">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension making the call to Intercom
                                </th>
                                <th>
                                    Extension receiving the Intercom
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="intercomtable">
                            @if (Model?.NewClient?.IntercomRegistrations is not null)
                            {
                                foreach (var number in Model.NewClient.IntercomRegistrations)
                                {
                                    <tr>
                                        <td>@number?.ExtensionSendingIntercom</td>
                                        <td>@number?.ExtensionRecievingIntercom</td>
                                        <td>
                                            <button type="button" onclick='RemoveIntercomRegistration("@Model?.NewClient?.NewClientId", "@number?.IntercomRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light" id="IntercomForm">
                    <div class="input-group">
                        <input type="text" class="form-control" id="outgoing" placeholder="Extension making the call to Intercom" maxlength="14">
                        <input type="text" class="form-control" id="incoming" placeholder="Extension receiving the Intercom" maxlength="14">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddIntercomRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('outgoing').value,
                                                document.getElementById('incoming').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <p class="mt-3">
                    Do you want any speed dial keys configured to enable easy calling or transferring of calls?
                </p>
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @{
                            if (Model?.NewClient?.SpeedDial is not null && Model.NewClient.SpeedDial)
                            {
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.SpeedDial" type="radio" id="sdoption1" value="true" checked> Speed Dial
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.SpeedDial" type="radio" id="sdoption2" value="false"> No Speed Dial
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.SpeedDial" type="radio" id="sdoption1" value="true"> Speed Dial
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input asp-for="NewClient.SpeedDial" type="radio" id="sdoption2" value="false" checked> No Speed Dial
                                </label>
                            }
                        }
                    </div>
                </div>
                <div id="SpeedDialDescriptions">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Phone Number/Extension Number
                                    </th>
                                    <th>
                                        Label/Name
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="speeddialtable">
                                @if (Model?.NewClient?.SpeedDialKeys is not null)
                                {
                                    foreach (var number in Model.NewClient.SpeedDialKeys)
                                    {
                                        <tr>
                                            <td>@number?.NumberOrExtension</td>
                                            <td>@number?.LabelOrName</td>
                                            <td>
                                                <button type="button" onclick='RemoveSpeedDialKey("@Model?.NewClient?.NewClientId", "@number?.SpeedDialKeyId", this)' class="btn btn-outline-danger">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card p-2 bg-light">
                        <div class="input-group">
                            <input type="text" class="form-control" id="numberOrExt" placeholder="Phone Number/Extension Number" maxlength="14">
                            <input type="text" class="form-control" id="labelOrName" placeholder="Label/Name">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary"
                                        onclick="AddSpeedDialKey(document.getElementById('newClientId').value,
                                                document.getElementById('numberOrExt').value,
                                                document.getElementById('labelOrName').value,
                                                this);">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="mt-3">Is there any custom hold music you would prefer to use? By default we play Claire De Lune and a few other classical songs as your music on hold.</p>
                <div class="input-group">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @{
                                if (Model?.NewClient?.CustomHoldMusic is not null && Model.NewClient.CustomHoldMusic)
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.CustomHoldMusic" type="radio" id="cmoption1" value="true" checked> Custom Music
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.CustomHoldMusic" type="radio" id="cmoption2" value="false"> Generic Music
                                    </label>
                                }
                                else
                                {
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.CustomHoldMusic" type="radio" id="cmoption1" value="true"> Custom Music
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input asp-for="NewClient.CustomHoldMusic" type="radio" id="cmoption2" value="false" checked> Generic Music
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="input-group" id="CustomMusicTextArea">
                    <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="NewClient.HoldMusicDescription" placeholder="Is there any custom hold music you would prefer to use? By default we play Claire De Lune and a few other classical songs as your music on hold."></textarea>
                </div>
                <p class="mt-3">When a phone is offline, should calls be forwarded anywhere special? By default they will reach your voicemail or after hours menu.</p>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="NewClient.PhoneOfflineInstructions" aria-label="Offline" aria-describedby="basic-addon1">
                </div>
                <p class="mt-3">
                    We can also have your cellphone ring at the same time as your office phone if you enter your cellphone # under Follow Me below!
                </p>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Extension Number
                                </th>
                                <th>
                                    Cell # for Follow Me
                                </th>
                                <th>
                                    Forward to # when unreachable
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody id="followMeTable">
                            @if (Model?.NewClient?.FollowMeRegistrations is not null)
                            {
                                foreach (var number in Model.NewClient.FollowMeRegistrations)
                                {
                                    <tr>
                                        <td>@number?.NumberOrExtension</td>
                                        <td>@number?.CellPhoneNumber</td>
                                        <td>@number?.UnreachablePhoneNumber</td>
                                        <td>
                                            <button type="button" onclick='RemoveFollowMeRegistration("@Model?.NewClient?.NewClientId", "@number?.FollowMeRegistrationId", this)' class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card p-2 bg-light">
                    <div class="input-group">
                        <input type="text" class="form-control" id="extNum" placeholder="Extension Number" maxlength="14">
                        <input type="text" class="form-control" id="cellPhone" placeholder="Cell # for Follow Me" maxlength="10">
                        <input type="text" class="form-control" id="forwardTo" placeholder="Forward to # when unreachable" maxlength="10">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary"
                                    onclick="AddFollowMeRegistration(document.getElementById('newClientId').value,
                                                document.getElementById('extNum').value,
                                                document.getElementById('cellPhone').value,
                                                document.getElementById('forwardTo').value,
                                                this);">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block mt-3"> Submit </button>
            </div>
        </div>
    </form>
    <div class="alert alert-secondary mt-3" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immedate help filling out this form. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
</div>