@model CouponResult
@{
    ViewData["Title"] = "Coupons";
}
<h1 class="display-4 p-3">✨ Coupons</h1>
@{
    if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-info" role="alert">
            @Model.Message
        </div>
    }
}
<form action="/Home/Coupon" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col mb-3" hidden>
            <label for="productId">Coupon Id</label>
            <input asp-for="Coupon.CouponId" type="text" class="form-control" id="productId" readonly />
        </div>
        <div class="col mb-3">
            <label for="name">Name</label>
            <input asp-for="Coupon.Name" type="text" class="form-control" id="name" placeholder="FreePhones" required>
        </div>
        <div class="col mb-3">
            <label for="description">Description</label>
            <input asp-for="Coupon.Description" type="text" class="form-control" id="description" placeholder="Please charge the customer money for doing work." required>
        </div>
        <div class="col mb-3">
            <label for="description">Type</label>
            <input asp-for="Coupon.Type" type="text" class="form-control" id="type" placeholder="What type of coupon is this?" required>
        </div>
        <div class="col mb-3">
            <label for="description">Value</label>
            <input asp-for="Coupon.Value" type="number" class="form-control" id="value" required>
        </div>
        <div class="col mb-3 form-check">
            <input asp-for="Coupon.Public" type="checkbox" class="form-check-input" id="public">
            <label for="public" class="form-check-label">Publicly Visible</label>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Create or Update</button>
    <br />
</form>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Coupon Id
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    Value
                </th>
                <th scope="col">
                    Public
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var coupon in Model?.Coupons)
                {
                    <tr>
                        <td>
                            @coupon.CouponId
                        </td>
                        <td data-order="">
                            @coupon.Name
                        </td>
                        <td>
                            @coupon.Description
                        </td>
                        <td>
                            @coupon.Type
                        </td>
                        <td>
                            @coupon.Value
                        </td>
                        <td>
                            @coupon.Public
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-warning text-light" href="/Home/Coupons/@coupon.CouponId">Edit</a>
                                <a class="btn btn-danger text-light" href="/Home/Coupons/@coupon.CouponId/Delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>