@model IEnumerable<NumberSearch.DataAccess.Email>
@{
    ViewData["Title"] = "Sent Emails";
}
<br />
<h1 class="display-4">Sent Emails</h1>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Date Sent
                </th>
                <th>
                    Routing
                </th>
                <th>
                    Message
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var email in Model)
                {
                    <tr>
                        <td scope="row" data-order="@email.DateSent.Ticks">
                            <a href="https://acceleratenetworks.com/cart/order/@email.OrderId" class="btn btn-primary">
                                Order
                            </a>
                            <h4 class="d-flex justify-content-between align-items-center mt-3">
                                <span class="badge badge-info badge-pill">
                                    @email.DateSent
                                </span>
                            </h4>
                            @{
                                if (email.Completed)
                                {
                                    <h4><span class="badge badge-success">Completed</span></h4>
                                }
                                else
                                {
                                    <h4><span class="badge badge-danger">Failed</span></h4>
                                }
                            }
                        </td>
                        <td>
                            <strong>Email</strong>
                            <p>@email.PrimaryEmailAddress</p>
                            <strong>CC</strong>
                            <p>@email.CarbonCopy</p>
                        </td>
                        <td>
                            <strong>Subject</strong>
                            <p>@email.Subject</p>
                            <strong>Body</strong>
                            <p>@email.MessageBody</p>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>