@model IEnumerable<NumberSearch.DataAccess.PurchasedPhoneNumber>
@{
    ViewData["Title"] = "Purchased Numbers";
}
<br />
<h1 class="display-4">Purchased Numbers</h1>
<br />
<div class="pb-3">
    <ul class="nav nav-pills nav-fill nav-justified">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Numbers">Numbers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="NumberOrders">Number Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="OwnedNumbers">Owned Numbers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Emails">Sent Emails</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="PortRequests">Port Requests</a>
        </li>
    </ul>
</div>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Date Ordered
                </th>
                <th scope="col">
                    Order Information
                </th>
                <th scope="col">
                    Raw Response
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model.Where(x => x.IngestedFrom != "Test"))
                {
                    var ingestedBadge = order.IngestedFrom;
                    switch (order.IngestedFrom)
                    {
                        case "FirstPointCom":
                            ingestedBadge = "<h4><span class='badge badge-info'>FirstPointCom</span></h4>";
                            break;
                        case "BulkVS":
                            ingestedBadge = "<h4><span class='badge badge-primary'>BulkVS</span></h4>";
                            break;
                        case "TeleMessage":
                            ingestedBadge = "<h4><span class='badge badge-warning'>TeleMessage</span></h4>";
                            break;
                    }
                    <tr>
                        <td scope="row" data-order="@order.DateOrdered.Ticks">
                            <a href="https://acceleratenetworks.com/cart/order/@order.OrderId" class="btn btn-primary">
                                View Order
                            </a>
                            <h4 class="d-flex justify-content-between align-items-center mt-3">
                                <span class="badge badge-info badge-pill">
                                    @order.DateOrdered
                                </span>
                            </h4>
                            @{
                                if (order.Completed)
                                {
                                    <h4><span class="badge badge-success">Completed</span></h4>
                                }
                                else
                                {
                                    <h4><span class="badge badge-danger">Failed</span></h4>
                                }
                            }
                        </td>
                        <td>
                            <p>@order.DialedNumber</p>
                            @Html.Raw(ingestedBadge)
                            <strong>Date Ingested</strong>
                            <p>@order.DateIngested</p>
                        </td>
                        <td class="text-break">
                            @order.OrderResponse
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">
        <a>
            <a asp-controller="Home" asp-action="ExportNumberOrders" target="_blank" class="btn btn-primary">Export as CSV</a>
        </a>
    </div>
</div>