@model IEnumerable<NumberSearch.DataAccess.PurchasedPhoneNumber>
@{
    ViewData["Title"] = "Purchased Numbers";
}
<br />
<h1 class="display-4">Purchased Numbers</h1>
<br />
<div class="pb-3">
    <ul class="nav nav-pills nav-fill nav-justified">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Numbers">Numbers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="NumberOrders">Number Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="PortRequests">Port Requests</a>
        </li>
    </ul>
</div>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th>
                    Dialed Number
                </th>
                <th>
                    Completed
                </th>
                <th>
                    Date Ordered
                </th>
                <th>

                </th>
                <th>
                    Ingested From
                </th>
                <th>
                    Date Ingested
                </th>
                <th>
                    Raw Response
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model)
                {
                    var ingestedBadge = order.IngestedFrom;
                    switch (order.IngestedFrom)
                    {
                        case "FirstPointCom":
                            ingestedBadge = "<span class='badge badge-info'>FirstPointCom</span>";
                            break;
                        case "BulkVS":
                            ingestedBadge = "<span class='badge badge-primary'>BulkVS</span>";
                            break;
                        case "TeleMessage":
                            ingestedBadge = "<span class='badge badge-warning'>TeleMessage</span>";
                            break;
                    }
                    <tr>
                        <td>
                            @order.DialedNumber
                        </td>
                        <td>
                            @order.Completed
                        </td>
                        <td>
                            @order.DateOrdered
                        </td>
                        <td>
                            <a href="https://acceleratenetworks.com/cart/order/@order.OrderId" class="btn btn-primary">
                                View Order
                            </a>
                        </td>
                        <td>
                            @Html.Raw(ingestedBadge)
                        </td>
                        <td>
                            @order.DateIngested
                        </td>
                        <td class="text-break">
                            @order.OrderResponse
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>