@model NumberSearch.Ops.OrderResult
@{
    ViewData["Title"] = "Orders";
}
<h1 class="display-4 p-3">🛒 Orders</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Date Ordered
                </th>
                <th scope="col">
                    Customer Information
                </th>
                <th>
                    Cusomter Notes
                </th>
                <th scope="col">
                    Products Ordered
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model.Orders)
                {
                    var businessName = string.IsNullOrWhiteSpace(order.Order.BusinessName) ? "Consumer" : order.Order.BusinessName;
                    <tr>
                        <th scope="row" data-order="@order.Order.DateSubmitted.Ticks">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="https://acceleratenetworks.com/cart/order/@order.Order.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                    Order
                                </a>
                                @if (order?.PortRequest is null)
                                {
                                    <a class="btn btn-outline-info disabled">
                                        Port
                                    </a>
                                }
                                else
                                {
                                    <a href="/Home/PortRequests/@order?.Order?.OrderId" class="btn btn-info">
                                        Port
                                    </a>
                                }
                                <a href="/Home/Emails/@order?.Order?.OrderId" class="btn btn-warning text-light">
                                    Emails
                                </a>
                                <a href="/Home/NumberOrder/@order?.Order?.OrderId" class="btn btn-info">
                                    Purchased
                                </a>
                                <a href="https://www.google.com/maps/place/@order?.Order?.Address,+@order?.Order?.City,+@order?.Order?.State+@order?.Order?.Zip/" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                                    Map
                                </a>
                            </div>
                            <h4 class="d-flex justify-content-between align-items-center mt-3">
                                <span class="badge badge-info badge-pill">
                                    @order.Order.DateSubmitted
                                </span>
                            </h4>
                            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                                @{
                                    if (!string.IsNullOrWhiteSpace(order.Order.BillingInvoiceId))
                                    {
                                        <a href="https://billing.acceleratenetworks.com/invoices/@order?.Order?.BillingInvoiceId/edit" class="btn btn-success" target="_blank" rel="noopener noreferrer">
                                            Upfront
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-success disabled">
                                            Upfront
                                        </a>
                                    }
                                }
                                @{
                                    if (!string.IsNullOrWhiteSpace(order.Order.BillingInvoiceReoccuringId))
                                    {
                                        <a href="https://billing.acceleratenetworks.com/invoices/@order?.Order?.BillingInvoiceReoccuringId/edit" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                            Recurring
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-primary disabled">
                                            Recurring
                                        </a>
                                    }
                                }
                                @{
                                    if (!string.IsNullOrWhiteSpace(order.Order.BillingClientId))
                                    {
                                        <a href="https://billing.acceleratenetworks.com/clients/@order?.Order?.BillingClientId/edit" class="btn btn-info" target="_blank" rel="noopener noreferrer">
                                            Client
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-info disabled">
                                            Client
                                        </a>
                                    }
                                }
                            </div>
                        </th>
                        <td>
                            <strong>Business Name</strong>
                            <p>@businessName</p>
                            <strong>Customer Name</strong>
                            <p>
                                @order.Order.FirstName
                                @order.Order.LastName
                            </p>
                            <strong>Email</strong>
                            <p>@order.Order.Email</p>
                            <strong>Address</strong>
                            <p>
                                @order.Order.Address

                                @order.Order.Address2

                                @order.Order.City

                                @order.Order.State

                                @order.Order.Zip
                            </p>
                        </td>
                        <td>
                            @{
                                if (!string.IsNullOrWhiteSpace(order.Order.CustomerNotes))
                                {
                                    <p>@order.Order.CustomerNotes</p>
                                }
                            }
                        </td>
                        <td>
                            @{
                                var purchased = new List<NumberSearch.DataAccess.ProductOrder>();
                                var ported = new List<NumberSearch.DataAccess.ProductOrder>();
                                var services = new List<NumberSearch.DataAccess.ProductOrder>();
                                var products = new List<NumberSearch.DataAccess.ProductOrder>();
                                var verified = new List<NumberSearch.DataAccess.ProductOrder>();
                                foreach (var product in order.ProductOrders)
                                {
                                    if (!string.IsNullOrWhiteSpace(product.DialedNumber))
                                    {
                                        purchased.Add(product);
                                    }
                                    else if (!string.IsNullOrWhiteSpace(product.PortedDialedNumber) || product.PortedPhoneNumberId is not null)
                                    {
                                        ported.Add(product);
                                    }
                                    else if (product.VerifiedPhoneNumberId is not null)
                                    {
                                        verified.Add(product);
                                    }
                                    else if (!(product.ServiceId == Guid.Empty))
                                    {
                                        services.Add(product);
                                    }
                                    else if (!(product.ProductId == Guid.Empty))
                                    {
                                        products.Add(product);
                                    }
                                }
                                if (purchased.Any())
                                {
                                    <strong>Purchased</strong>
                                    <p>
                                        @{
                                            foreach (var product in purchased)
                                            {
                                                var matchingPurchasedPhoneNumber = Model?.PurchasedPhoneNumbers?.Where(x => x?.DialedNumber == product?.DialedNumber).FirstOrDefault();
                                                if (matchingPurchasedPhoneNumber is null)
                                                {
                                                    <a class="btn btn-outline-primary mt-1" href="/Home/NumberOrders/@product.DialedNumber">@product.DialedNumber ❓</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-primary mt-1" href="/Home/NumberOrders/@product.DialedNumber">@product.DialedNumber ✔️</a>
                                                }
                                            }
                                        }
                                    </p>
                                }
                                if (ported.Any())
                                {
                                    <strong>Ported</strong>
                                    <p>
                                        @{
                                            foreach (var product in ported)
                                            {
                                                var matchingPortedPhoneNumber = Model?.PortedPhoneNumbers?.Where(x => x?.PortedDialedNumber == product?.PortedDialedNumber).FirstOrDefault();
                                                if (matchingPortedPhoneNumber is not null && matchingPortedPhoneNumber.Completed)
                                                {
                                                    <a class="btn btn-outline-primary mt-1" href="/Home/PortRequests/@product.OrderId">@product.PortedDialedNumber ✔️</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-primary mt-1" href="/Home/PortRequests/@product.OrderId">@product.PortedDialedNumber ❓</a>
                                                }
                                            }
                                        }
                                    </p>
                                }
                                if (verified.Any())
                                {
                                    <strong>Verified</strong>
                                    <p>
                                        @{
                                            foreach (var product in verified)
                                            {
                                                <a class="btn btn-outline-primary mt-1" href="/Home/NumbersToVerify/@product.OrderId">@Model?.VerifiedPhoneNumbers.Where(x => x.VerifiedPhoneNumberId == product.VerifiedPhoneNumberId).FirstOrDefault().VerifiedDialedNumber</a>
                                            }
                                        }
                                    </p>
                                }
                                if (services.Any())
                                {
                                    <strong>Services</strong>
                                    <ul>
                                        @{
                                            foreach (var product in services)
                                            {
                                                var serviceOutput = $"<li>{product.Quantity} x {Model.Services.Where(x => x.ServiceId == product.ServiceId).FirstOrDefault().Name}</li>";
                                                @Html.Raw(serviceOutput)
                                            }
                                        }
                                    </ul>
                                }
                                if (products.Any())
                                {
                                    <strong>Products</strong>
                                    <ul>
                                        @{
                                            foreach (var product in products)
                                            {
                                                var productOutput = $"<li>{product.Quantity} x {Model.Products.Where(x => x.ProductId == product.ProductId).FirstOrDefault().Name}</li>";
                                                @Html.Raw(productOutput)
                                            }
                                        }
                                    </ul>
                                }
                            }
                        </td>
                        <td>
                            <a href="/Home/Order/@order?.Order?.OrderId" class="btn btn-danger">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>