@model IEnumerable<NumberSearch.DataAccess.Order>
@{
    ViewData["Title"] = "Orders";
}
<br />
<h1 class="display-4">Orders</h1>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Date Ordered
                </th>
                <th scope="col">
                    Customer Information
                </th>
                <th scope="col">
                    Products Ordered
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model)
                {
                    var businessName = string.IsNullOrWhiteSpace(order.BusinessName) ? "Consumer" : order.BusinessName;
                    <tr>
                        <th scope="row" data-order="@order.DateSubmitted.Ticks">
                            <a href="https://acceleratenetworks.com/cart/order/@order.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                Order
                            </a>
                            <h4 class="d-flex justify-content-between align-items-center mt-3">
                                <span class="badge badge-info badge-pill">
                                    @order.DateSubmitted
                                </span>
                            </h4>
                            @{
                                if (!string.IsNullOrWhiteSpace(order.BillingClientId))
                                {
                                    <a href="https://billing.acceleratenetworks.com/clients/@order?.BillingClientId/edit" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                                        Client
                                    </a>
                                }
                            }
                            @{
                                if (!string.IsNullOrWhiteSpace(order.BillingInvoiceId))
                                {
                                    <a href="https://billing.acceleratenetworks.com/invoices/@order?.BillingInvoiceId/edit" class="btn btn-info" target="_blank" rel="noopener noreferrer">
                                        Invoice
                                    </a>
                                }
                            }
                        </th>
                        <td>
                            <strong>Business Name</strong>
                            <p>@businessName</p>
                            <strong>Customer Name</strong>
                            <p>
                                @order.FirstName
                                @order.LastName
                            </p>
                            <strong>Email</strong>
                            <p>@order.Email</p>
                            <strong>Address</strong>
                            <p>
                                @order.Address

                                @order.Address2

                                @order.City

                                @order.State

                                @order.Zip
                            </p>
                            @{
                                if (!string.IsNullOrWhiteSpace(order.CustomerNotes))
                                {
                                    <strong>Customer Notes</strong>
                                    <p>@order.CustomerNotes</p>
                                }
                            }
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>