@model NumberSearch.Ops.OrderResult
@{
    ViewData["Title"] = "Orders";
}
<br />
<h1 class="display-4">Orders</h1>
<br />
<div class="pb-3">
    <ul class="nav nav-pills nav-fill nav-justified">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="Orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="TaxRates">Tax Rates</a>
        </li>
    </ul>
</div>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Date Ordered
                </th>
                <th scope="col">
                    Customer Information
                </th>
                <th scope="col">
                    Products Ordered
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in Model.Orders)
                {
                    var businessName = string.IsNullOrWhiteSpace(order.Order.BusinessName) ? "Consumer" : order.Order.BusinessName;
                    <tr>
                        <th scope="row" data-order="@order.Order.DateSubmitted.Ticks">
                            <a href="https://acceleratenetworks.com/cart/order/@order.Order.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                Order
                            </a>
                            <h4 class="d-flex justify-content-between align-items-center mt-3">
                                <span class="badge badge-info badge-pill">
                                    @order.Order.DateSubmitted
                                </span>
                            </h4>
                            @{
                                if (!string.IsNullOrWhiteSpace(order.Order.BillingClientId))
                                {
                                    <a href="https://billing.acceleratenetworks.com/clients/@order?.Order?.BillingClientId/edit" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                                        Client
                                    </a>
                                }
                            }
                            @{
                                if (!string.IsNullOrWhiteSpace(order.Order.BillingInvoiceId))
                                {
                                    <a href="https://billing.acceleratenetworks.com/invoices/@order?.Order?.BillingInvoiceId/edit" class="btn btn-info" target="_blank" rel="noopener noreferrer">
                                        Invoice
                                    </a>
                                }
                            }
                        </th>
                        <td>
                            <strong>Business Name</strong>
                            <p>@businessName</p>
                            <strong>Customer Name</strong>
                            <p>
                                @order.Order.FirstName
                                @order.Order.LastName
                            </p>
                            <strong>Email</strong>
                            <p>@order.Order.Email</p>
                            <strong>Address</strong>
                            <p>
                                @order.Order.Address

                                @order.Order.Address2

                                @order.Order.City

                                @order.Order.State

                                @order.Order.Zip
                            </p>
                            @{
                                if (!string.IsNullOrWhiteSpace(order.Order.CustomerNotes))
                                {
                                    <strong>Customer Notes</strong>
                                    <p>@order.Order.CustomerNotes</p>
                                }
                            }
                        </td>
                        <td>
                            @{
                                foreach (var product in order.ProductOrders)
                                {
                                    <p>
                                        @{
                                            if (!string.IsNullOrWhiteSpace(product.DialedNumber))
                                            {
                                                var dialedOutput = $"Purchased {product.DialedNumber}";
                                                @dialedOutput
                                            }
                                            else if (!string.IsNullOrWhiteSpace(product.PortedDialedNumber))
                                            {
                                                var portedOutput = $"Ported {product.PortedDialedNumber}";
                                                @portedOutput
                                            }
                                            else if (!(product.ServiceId == Guid.Empty))
                                            {
                                                var serviceOutput = $"{product.Quantity} x {Model.Services.Where(x => x.ServiceId == product.ServiceId).FirstOrDefault().Name}";
                                                @serviceOutput
                                            }
                                            else if (!(product.ProductId == Guid.Empty))
                                            {
                                                var productOutput = $"{product.Quantity} x {Model.Products.Where(x => x.ProductId == product.ProductId).FirstOrDefault().Name}";
                                                @productOutput
                                            }
                                        }
                                    </p>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>