@using AccelerateNetworks.Operations
@model IEnumerable<PortRequest>
@{
    ViewData["Title"] = "Port Requests";
}
<h1 class="display-4 p-3">🚢 Port Requests</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Date Ordered
                </th>
                <th>Customer Information</th>
                <th>Carrier Information</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var port in Model)
                {
                    <tr>
                        <td scope="row" data-order="@port.DateSubmitted.Ticks">
                            <a href="https://acceleratenetworks.com/cart/order/@port.OrderId" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
                                Order
                            </a>
                            <a href="/Home/Emails/@port?.OrderId" class="btn btn-secondary">
                                Emails
                            </a>
                            <h4 class="d-flex justify-content-between align-items-center mt-2">
                                <span class="badge bg-info rounded-pill">
                                    @port.DateSubmitted
                                </span>
                            </h4>
                            @{
                                if (!string.IsNullOrWhiteSpace(port?.VendorSubmittedTo))
                                {
                                    if (port.Completed)
                                    {
                                        <h4><span class="badge bg-success">Completed @port?.DateCompleted?.ToShortDateString()</span></h4>
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrWhiteSpace(port?.RequestStatus))
                                        {
                                            switch (port?.RequestStatus)
                                            {
                                                case "SUBMITTED":
                                                    <h4><span class="badge bg-warning">Submitted @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "EXCEPTION":
                                                    <h4><span class="badge bg-danger">Exception @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "COMPLETE":
                                                    <h4><span class="badge bg-warning">Complete @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "PENDING":
                                                    <h4><span class="badge bg-warning">Pending @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "REQUESTED_SUPP":
                                                    <h4><span class="badge bg-danger">Supplimental Information Requested @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "FOC":
                                                    <h4><span class="badge bg-warning">FOC Date Set @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "CANCELLED":
                                                    <h4><span class="badge bg-danger">Cancelled @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "processing":
                                                    <h4><span class="badge bg-warning">Processing @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "canceled":
                                                    <h4><span class="badge bg-danger">Processing @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                case "rejected":
                                                    <h4><span class="badge bg-danger">Processing @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;
                                                default:
                                                    <h4><span class="badge bg-warning">Submitted @port?.DateSubmitted.ToShortDateString()</span></h4>
                                                    break;

                                            }
                                        }
                                        else
                                        {
                                            <h4><span class="badge bg-danger">Unsubmitted</span></h4>
                                        }
                                    }
                                }
                                else
                                {
                                    <h4><span class="badge bg-danger">Unsubmitted</span></h4>
                                }
                            }
                        </td>
                        <td scope="col">
                            <strong>Business Contact</strong>
                            <p>@port.BusinessContact</p>
                            <strong>Business Name</strong>
                            <p>@port.BusinessName</p>
                            <strong>Address</strong>
                            <p>
                                @port.Address

                                @port.Address2

                                @port.City

                                @port.State

                                @port.Zip
                            </p>
                        </td>
                        <td scope="col">
                            <strong>Billing Phone Number</strong>
                            <p>@port.BillingPhone</p>
                            <strong>Caller Id</strong>
                            <p>@port.CallerId</p>
                            <strong>Location Type</strong>
                            <p>@port.LocationType</p>
                            <strong>Partial Port</strong>
                            <p>@port.PartialPort</p>
                            <strong>Partial Port Description</strong>
                            <p>@port.PartialPortDescription</p>
                            <strong>Provider Account Number</strong>
                            <p>@port.ProviderAccountNumber</p>
                            <strong>Provider PIN</strong>
                            <p>@port.ProviderPIN</p>
                            <strong>
                                Wireless Number
                            </strong>
                            <p>@port.WirelessNumber</p>
                        </td>
                        <td>
                            <a class="btn btn-danger text-light" href="/Home/PortRequests/@port.OrderId">Edit</a>
                            <a href="https://www.google.com/maps/place/@port?.Address,+@port?.City,+@port?.State+@port?.Zip/" class="btn btn-secondary mt-1" target="_blank" rel="noopener noreferrer">
                                Map
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>