@model NumberSearch.Ops.PortRequestResult
@{
    ViewData["Title"] = "Port Request";
}
<h1 class="display-4 p-3">🚢 Port Requests</h1>
<div class="pb-3">
    <a class="btn btn-outline-primary" href="/Home/PortRequests">Return to List</a>
    <a href="https://acceleratenetworks.com/cart/order/@Model?.PortRequest?.OrderId" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
        Order
    </a>
    <a href="/Home/Emails/@Model?.PortRequest?.OrderId" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
        Emails
    </a>
    @{
        if (Model?.PortRequest is null)
        {
            <div class="alert alert-danger mt-3" role="alert">
                This port request has not yet been submitted by the customer.
            </div>
        }
    }
    @{
        if (!string.IsNullOrWhiteSpace(Model?.Message))
        {
            <div class="alert alert-danger mt-3" role="alert">
                @Model?.Message
            </div>
        }
    }
</div>
<form action="/Home/PortRequests/@Model?.PortRequest?.OrderId" method="post" class="needs-validation mb-3">
    @Html.AntiForgeryToken()
    <input asp-for="PortRequest.OrderId" type="text" value="@Model?.Order?.OrderId" hidden />
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="teliId">Request Status</label>
            <input type="text" value="@Model?.PortRequest?.RequestStatus" class="form-control" id="teliId" readonly
                   title="The status of the Port Request in Teli's system.">
        </div>
        <div class="col-md-4 mb-3">
            <label for="teliId">Status Last Updated</label>
            <input type="text" value="@Model?.PortRequest?.DateUpdated" class="form-control" id="teliId" readonly
                   title="The status of the Port Request in Teli's system.">
        </div>
        <div class="col-md-4 mb-3">
            <label for="teliId">Completed On</label>
            <input type="text" value="@Model?.PortRequest?.DateCompleted" class="form-control" id="teliId" readonly
                   title="The status of the Port Request in Teli's system.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="teliId">Teli Port Request Id</label>
            <input asp-for="PortRequest.TeliId" type="text" value="@Model?.PortRequest?.TeliId" class="form-control" id="teliId" placeholder="4963"
                   title="The Id for this Port Request in Teli's system.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="billingPhone">Current Billing Phone Number</label>
            <input asp-for="PortRequest.BillingPhone" type="text" value="@Model?.PortRequest?.BillingPhone" class="form-control" id="billingPhone" placeholder="2061234567" required
                   title="Also known as the BTN. This is the number that is normally provided on a copy of your bill or statement in the upper right corner or is the first number listed on the bill.">
        </div>
        <div class="col-md-4 mb-3">
            <label for="accountNumber">Current Account Number</label>
            <input asp-for="PortRequest.ProviderAccountNumber" type="text" value="@Model?.PortRequest?.ProviderAccountNumber" class="form-control" id="accountNumber" placeholder="1234567891011" title="The account number is usually found on the invoice or a copy of a bill from your current provider." required>
            <div class="invalid-feedback">
                Please enter your account number.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="pin">Account PIN or Password <span class="text-muted">(Optional)</span></label>
            <input asp-for="PortRequest.ProviderPIN" type="text" value="@Model?.PortRequest?.ProviderPIN" class="form-control" id="pin" placeholder="1234" title="The PIN or password for the existing account.">
            <div class="invalid-feedback">
                Valid PIN is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="locationType">Location Type</label>
            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        if (Model?.PortRequest?.LocationType == "Residential")
                        {
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.LocationType" type="radio" id="ltoption1" value="Business"> Business
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input asp-for="PortRequest.LocationType" type="radio" id="ltoption2" value="Residential" checked> Residential
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-outline-secondary active">
                                <input asp-for="PortRequest.LocationType" type="radio" id="ltoption1" value="Business" checked> Business
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.LocationType" type="radio" id="ltoption2" value="Residential"> Residential
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 business">
            <label for="partialPort">Business Contact</label>
            @{
                var contactName = string.IsNullOrWhiteSpace(Model?.PortRequest?.BusinessContact) ? $"{Model?.Order?.FirstName} {Model?.Order?.LastName}" : Model?.PortRequest?.BusinessContact;
            }
            <input asp-for="PortRequest.BusinessContact" type="text" value="@contactName" class="form-control" id="businessContact" placeholder="Alexander Graham-Bell" title="This is the name of the owner or contact who will be submitting the port order.">
        </div>
        <div class="col-md-4 mb-3 business">
            <label for="partialPortDescription">Business Name</label>
            @{
                var businessName = string.IsNullOrWhiteSpace(Model?.PortRequest?.BusinessName) ? Model?.Order?.BusinessName : Model?.PortRequest?.BusinessName;
            }
            <input asp-for="PortRequest.BusinessName" type="text" value="@businessName" class="form-control" id="businessName" placeholder="American Telegraf and Telephone Company" title="Name of the business associated with the numbers being ported.">
        </div>

        <div class="col-md-4 mb-3 residential">
            <label for="partialPort">First Name</label>
            @{
                var firstName = string.IsNullOrWhiteSpace(Model?.PortRequest?.ResidentialFirstName) ? Model?.Order?.FirstName : Model?.PortRequest?.ResidentialFirstName;
            }
            <input asp-for="PortRequest.ResidentialFirstName" type="text" value="@firstName" class="form-control" id="residentalFirstName" placeholder="Alexander" title="The first name of the person currently being billed for this phone number.">
        </div>
        <div class="col-md-4 mb-3 residential">
            <label for="partialPortDescription">Last Name</label>
            @{
                var lastName = string.IsNullOrWhiteSpace(Model?.PortRequest?.ResidentialLastName) ? Model?.Order?.LastName : Model?.PortRequest?.ResidentialLastName;
            }
            <input asp-for="PortRequest.ResidentialLastName" type="text" value="@lastName" class="form-control" id="residentalLastName" placeholder="Graham-Bell" title="The last name of the person currently being billed for this phone number.">
        </div>
    </div>

    <div class="mb-3">
        <label for="address">Service Address</label>
        @{
            var address = string.IsNullOrWhiteSpace(Model?.PortRequest?.Address) ? Model?.Order?.Address : Model?.PortRequest?.Address;
        }
        <input asp-for="PortRequest.Address" type="text" value="@address" class="form-control" id="address" placeholder="1234 Main St" title="The physical address of where these phone numbers are being used. This information is also on file with your current provider." required>
        <div class="invalid-feedback">
            Please enter your shipping address.
        </div>
    </div>

    <div class="mb-3">
        <label for="address2">Service Address 2 <span class="text-muted">(Optional)</span></label>
        @{
            var address2 = string.IsNullOrWhiteSpace(Model?.PortRequest?.Address2) ? Model?.Order?.Address2 : Model?.PortRequest?.Address2;
        }
        <input asp-for="PortRequest.Address2" type="text" value="@address2" class="form-control" id="address2" title="The city of the service address listed above." placeholder="Apartment or suite">
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="address">Service City</label>
            @{
                var city = string.IsNullOrWhiteSpace(Model?.PortRequest?.City) ? Model?.Order?.City : Model?.PortRequest?.City;
            }
            <input asp-for="PortRequest.City" type="text" value="@city" class="form-control" id="city" placeholder="Seattle" title="The physical address of where these phone numbers are being used. This information is also on file with your current provider." required>
            <div class="invalid-feedback">
                Please enter a valid city.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="state">Service State</label>
            <select asp-for="PortRequest.State" class="custom-select d-block w-100" id="state" title="The state of the service address listed above." required>
                <option value="">Choose...</option>
                @{
                    var states = new string[] { "Alabama",
                                                        "Alaska",
                                                        "Arizona",
                                                        "Arkansas",
                                                        "California",
                                                        "Colorado",
                                                        "Connecticut",
                                                        "Delaware",
                                                        "Florida",
                                                        "Georgia",
                                                        "Hawaii",
                                                        "Idaho",
                                                        "Illinois",
                                                        "Indiana",
                                                        "Iowa",
                                                        "Kansas",
                                                        "Kentucky",
                                                        "Louisiana",
                                                        "Maine",
                                                        "Maryland",
                                                        "Massachusetts",
                                                        "Michigan",
                                                        "Minnesota",
                                                        "Mississippi",
                                                        "Missouri",
                                                        "Montana",
                                                        "Nebraska",
                                                        "Nevada",
                                                        "New Hampshire",
                                                        "New Jersey",
                                                        "New Mexico",
                                                        "New York",
                                                        "North Carolina",
                                                        "North Dakota",
                                                        "Ohio",
                                                        "Oklahoma",
                                                        "Oregon",
                                                        "Pennsylvania",
                                                        "Rhode Island",
                                                        "South Carolina",
                                                        "South Dakota",
                                                        "Tennessee",
                                                        "Texas",
                                                        "Utah",
                                                        "Vermont",
                                                        "Virginia",
                                                        "Washington",
                                                        "West Virginia",
                                                        "Wisconsin",
                                                        "Wyoming"
                                                        };

                    var currentState = string.IsNullOrWhiteSpace(Model?.PortRequest?.State) ? Model?.Order?.State : Model?.PortRequest?.State;

                    foreach (var state in states)
                    {
                        if (currentState == state)
                        {
                            <option selected>@state</option>
                        }
                        else
                        {
                            <option>@state</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Service Zip</label>
            @{
                var zip = string.IsNullOrWhiteSpace(Model?.PortRequest?.Zip) ? Model?.Order?.Zip : Model?.PortRequest?.Zip;
            }
            <input asp-for="PortRequest.Zip" type="text" value="@zip" class="form-control" id="zip" placeholder="98199" title="The five digit ZIP code of the service address listed above." required>
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-6 mb-3">
                <label for="wirelessNumber">Wireless Number</label>
                <select asp-for="PortRequest.WirelessNumber" class="custom-select" id="wirelessNumber" title="Set to 'Yes' if this is a wireless or cellphone number being ported.">
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                </select>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>*@
        <div class="col-md-6">
            <label for="billingPhone">Caller ID <span class="text-muted">(15 Characters Maximum)</span></label>
            <input asp-for="PortRequest.CallerId" type="text" value="@Model?.PortRequest?.CallerId" class="form-control" id="billingPhone" title="Sets Caller ID (aka CNAM) for all numbers in this port order, 15 character limit. Only letters, numbers, and spaces are allowed." placeholder="Alexander" maxlength="15" pattern="[a-zA-Z0-9\s]+" required>
            <label><strong id="charCount"></strong></label>
        </div>
        <div class="col-md-6">
            <label for="inputGroupFile02">An Image of Your Current Bill</label>
            <div class="input-group">
                <div class="custom-file">
                    <input asp-for="PortRequest.BillImage" type="file" class="custom-file-input" id="inputGroupFile02" />
                    <span asp-validation-for="PortRequest.BillImage"></span>
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 mb-3">
            <label for="partialPort">Partial Port</label>
            @*<select asp-for="PortRequest.PartialPort" class="custom-select" id="partialPort" title="Designates if this is a business address or a residential address." required>
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                </select>*@
            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @{
                        if (Model?.PortRequest?.PartialPort ?? false)
                        {
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.PartialPort" type="radio" id="ppoption1" value="true" checked> Yes
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.PartialPort" type="radio" id="ppoption2" value="false"> No
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.PartialPort" type="radio" id="ppoption1" value="true"> Yes
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input asp-for="PortRequest.PartialPort" type="radio" id="ppoption2" value="false" checked> No
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-10 mb-3" id="partialDescripton">
            <label for="partialPortDescription">Partial Port Description</label>
            <input asp-for="PortRequest.PartialPortDescription" type="text" value="@Model?.PortRequest?.PartialPortDescription" class="form-control" id="partialPortDescription" title="Describe what services the old carrier should leave alone. Contact the old carrier to confirm they will leave these services intact.">
        </div>
    </div>
    <hr class="mb-4">
    <button type="submit" class="btn btn-warning text-light">Update</button>
    <br />
</form>
<div class="row">
    <div class="col-md-6">
        <label for="locationType">Numbers to Port</label>
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Port Request
                        </th>
                        <th>
                            Dialed Number
                        </th>
                        <th>
                            Port Request Status
                        </th>
                        <th>
                            Firm Order Commitment
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var number in Model?.PhoneNumbers)
                        {
                            var statusText = number?.RequestStatus?.ToString() ?? "No Status";
                            var focText = number?.DateFirmOrderCommitment?.ToString() ?? "Not Set";
                            <tr>
                                <td>
                                    @{
                                        if (Model?.PortRequest?.VendorSubmittedTo == "TeliMessage")
                                        {
                                            <a href="https://control.teli.net/lnp/view?request_id=@number?.ExternalPortRequestId" target="_blank" rel="noopener noreferrer" class="btn btn-info">
                                                Teli @number?.ExternalPortRequestId
                                            </a>
                                        }
                                        else if (Model?.PortRequest?.VendorSubmittedTo == "BulkVS")
                                        {
                                            <a href="https://portal.bulkvs.com/" target="_blank" rel="noopener noreferrer" class="btn btn-info">
                                                BulkVS @number?.ExternalPortRequestId
                                            </a>
                                        }
                                        else
                                        {
                                            @number?.ExternalPortRequestId
                                        }
                                    }
                                </td>
                                <td>
                                    <h4>@number?.PortedDialedNumber</h4>
                                </td>
                                <td>
                                    @statusText
                                </td>
                                <td>
                                    @focText
                                </td>
                                <td>
                                    @{
                                        if (string.IsNullOrWhiteSpace(number?.ExternalPortRequestId))
                                        {
                                            <a class="btn btn-danger text-white" href="/Home/PortRequests/@Model?.Order?.OrderId/@number?.PortedDialedNumber">Remove</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<form action="/Home/PortRequests/@Model?.PortRequest?.OrderId" method="post" class="mb-5">
    @Html.AntiForgeryToken()
    <input name="OrderId" value="@Model?.PortRequest?.OrderId" hidden />
    <div class="input-group col-md-4 mb-3">
        <input name="dialedNumber" type="text" class="form-control" id="dialedNumber" placeholder="Another Number to Port" title="Enter another dialed number that you wish to add to this port request.">
        <div class="input-group-append">
            @{
                if (string.IsNullOrWhiteSpace(Model?.PortRequest?.VendorSubmittedTo))
                {
                    <button type="submit" class="btn btn-info">Add</button>
                }
                else
                {
                    <button type="submit" class="btn btn-info" disabled>Add</button>
                }
            }
        </div>
    </div>
</form>
<form action="/Home/PortRequestsTeli/@Model?.PortRequest?.OrderId" method="post">
    @Html.AntiForgeryToken()
    <input name="OrderId" value="@Model?.PortRequest?.OrderId" hidden />
    @{
        if (string.IsNullOrWhiteSpace(Model?.PortRequest?.VendorSubmittedTo))
        {
            <button type="submit" class="btn btn-danger">Submit to Teli</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger" disabled>Submit to Teli</button>
        }
    }
</form>
<form action="/Home/PortRequestsBulkVS/@Model?.PortRequest?.OrderId" method="post">
    @Html.AntiForgeryToken()
    <br />

    <input name="OrderId" value="@Model?.PortRequest?.OrderId" hidden />
    @{
        if (string.IsNullOrWhiteSpace(Model?.PortRequest?.VendorSubmittedTo))
        {
            <button type="submit" class="btn btn-danger">Submit to BulkVS</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger" disabled>Submit to BulkVS</button>
        }
    }
</form>
<br />
<a href="/Home/PortRequest/@Model?.PortRequest?.OrderId/Delete" class="btn btn-danger">Delete</a>
<br />