@model NumberSearch.Ops.TestResults
@{
    ViewData["Title"] = "Tests";
}
<h1 class="display-4 p-3">🤔 Tests</h1>
<form>
    <div class="row">
        <div class="col">
            <label>DIDInventorySearchAsync - First Point Communications (Endstream)</label>
        </div>
    </div>
    @{
        if (Model != null && Model.PhoneNumbersFPC != null && Model.PhoneNumbersFPC.Any())
        {
            var total = $"{Model.PhoneNumbersFPC.Count()} available numbers found!";
            <div class="alert alert-success" role="alert">
                @total
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>
                                Number
                            </th>
                            <th>
                                Dialed
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Ingested
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model?.PhoneNumbersFPC)
                            {
                                var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                var number = item.DialedNumber;
                                var ingestedBadge = item.IngestedFrom;
                                switch (item.IngestedFrom)
                                {
                                    case "FirstPointCom":
                                        ingestedBadge = "<span class='badge badge-info'>FirstPointCom</span>";
                                        break;
                                    case "BulkVS":
                                        ingestedBadge = "<span class='badge badge-primary'>BulkVS</span>";
                                        break;
                                    case "TeleMessage":
                                        ingestedBadge = "<span class='badge badge-warning'>TeleMessage</span>";
                                        break;
                                }
                                <tr>
                                    <td scope="row"><h4>@formattedNumber</h4></td>
                                    <td>@Html.Raw(number)</td>
                                    <td>@location</td>
                                    <td>From @Html.Raw(ingestedBadge) Now</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="npa" name="npa" placeholder="206">
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="nxx" name="nxx" placeholder="858">
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="dialedNumber" name="dialedNumber" placeholder="2068588757">
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="DIDInventorySearchAsync" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col">
            <label>DIDOrderAsyncs - First Point Communications (Endstream)</label>
        </div>
    </div>
    @{
        if (Model != null && Model.PhoneNumberOrder != null)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Text
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model?.PhoneNumberOrder?.code
                            </td>
                            <td>
                                @Model?.PhoneNumberOrder?.text
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="dialedNumber" name="dialedNumber" placeholder="2068588757" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="DIDOrderAsync" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col">
            <label>LRNLookup - TeleMessage</label>
        </div>
    </div>
    @{
        if (Model != null && Model?.LRNLookup != null)
        {
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            Code
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.code
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            Status
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.status
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            CLLI
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data.clli
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            Creation Date
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data.creation_date
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            Fraud Risk
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.fraud_risk
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            LATA
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.lata
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            LRN
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.lrn
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            OCN
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.ocn
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            OCN Name
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.ocn_name
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            OCN Type
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.ocn_type
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            Port Date
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.port_date
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            Ratecenter
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.ratecenter
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            SPID
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.spid
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            SPID Name
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.spid_name
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            State
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.state
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>
                            Status
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.status
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            Total Ported SPID
                        </strong>
                    </p>
                    <p>
                        @Model?.LRNLookup?.data?.total_ported_spid
                    </p>
                </div>
                <div class="col hidden">
                    <p>
                        <strong>
                            SPID Name
                        </strong>
                    </p>
                    <p>
                        @*@Model?.LRNLookup?.data?.spid_name*@
                    </p>
                </div>
                <div class="col hidden">
                    <p>
                        <strong>
                            State
                        </strong>
                    </p>
                    <p>
                        @*@Model?.LRNLookup?.data?.state*@
                    </p>
                </div>
                <div class="col hidden">
                    <p>
                        <strong>
                            Status
                        </strong>
                    </p>
                    <p>
                        @*@Model?.LRNLookup?.data?.status*@
                    </p>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="dialedNumber" name="dialedNumber" placeholder="2068588757" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="LRNLookup" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col">
            <label>Dids/List - TeleMessage</label>
        </div>
    </div>
    @{
        if (Model != null && Model.PhoneNumbersTM != null && Model.PhoneNumbersTM.Any())
        {
            var total = $"{Model.PhoneNumbersTM.Count()} available numbers found!";
            <div class="alert alert-success" role="alert">
                @total
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>
                                Number
                            </th>
                            <th>
                                Dialed
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Ingested
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model?.PhoneNumbersTM)
                            {
                                var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                var number = item.DialedNumber;
                                var ingestedBadge = item.IngestedFrom;
                                switch (item.IngestedFrom)
                                {
                                    case "FirstPointCom":
                                        ingestedBadge = "<span class='badge badge-info'>FirstPointCom</span>";
                                        break;
                                    case "BulkVS":
                                        ingestedBadge = "<span class='badge badge-primary'>BulkVS</span>";
                                        break;
                                    case "TeleMessage":
                                        ingestedBadge = "<span class='badge badge-warning'>TeleMessage</span>";
                                        break;
                                }
                                <tr>
                                    <td scope="row"><h4>@formattedNumber</h4></td>
                                    <td>@Html.Raw(number)</td>
                                    <td>@location</td>
                                    <td>From @Html.Raw(ingestedBadge) Now</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="dialedNumber" name="dialedNumber" placeholder="2068588757" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="didslist" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col">
            <label>Lnp/Check- TeleMessage</label>
        </div>
    </div>
    @{
        if (Model != null && !string.IsNullOrWhiteSpace(Model?.PortabilityResponse))
        {
            <div class="row">
                <div class="col">
                    <p>
                        <strong>
                            Portability Response
                        </strong>
                    </p>
                    <p>
                        @Model?.PortabilityResponse
                    </p>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="dialedNumber" name="dialedNumber" placeholder="2068588757" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="lnpcheck" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col">
            <label>DnSearchNpaNxx - BulkVS</label>
        </div>
    </div>
    @{
        if (Model != null && Model.PhoneNumbersBVS != null && Model.PhoneNumbersBVS.Any())
        {
            var total = $"{Model.PhoneNumbersBVS.Count()} available numbers found!";
            <div class="alert alert-success" role="alert">
                @total
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>
                                Number
                            </th>
                            <th>
                                Dialed
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Ingested
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model?.PhoneNumbersBVS)
                            {
                                var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                var number = item.DialedNumber;
                                var ingestedBadge = item.IngestedFrom;
                                switch (item.IngestedFrom)
                                {
                                    case "FirstPointCom":
                                        ingestedBadge = "<span class='badge badge-info'>FirstPointCom</span>";
                                        break;
                                    case "BulkVS":
                                        ingestedBadge = "<span class='badge badge-primary'>BulkVS</span>";
                                        break;
                                    case "TeleMessage":
                                        ingestedBadge = "<span class='badge badge-warning'>TeleMessage</span>";
                                        break;
                                }
                                <tr>
                                    <td scope="row"><h4>@formattedNumber</h4></td>
                                    <td>@Html.Raw(number)</td>
                                    <td>@location</td>
                                    <td>From @Html.Raw(ingestedBadge) Now</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="npa" name="npa" placeholder="206" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="nxx" name="nxx" placeholder="858" required>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" id="testName" name="testName" value="DnSearchNpaNxx" hidden />
            <button class="btn btn-primary btn-block" type="submit">Execute</button>
        </div>
    </div>
</form>