@model IEnumerable<AccelerateNetworks.Operations.EmergencyInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DialedNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngestedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIngested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeliId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DialedNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngestedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIngested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeliId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmergencyInformationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmergencyInformationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmergencyInformationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
