@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MessagingResult

@{
    ViewData["Title"] = "Messaging";
}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 p-3">✉️ Messaging</h1>
</div>
<h3>Failed Messages in the Last 3 Days</h3>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
               @*  <th>Succeeded?</th> *@
                <th>Date Received PST</th>
                <th>Message Source</th>
                <th>Message Type</th>
                <th>From</th>
                <th>To</th>
                <th>Raw Response</th>
                <th>Content</th>
                @* <th>Media URLs</th> *@
                @*<th>Raw Request</th>
                <th>To Forward</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.FailedMessages)
            {
                var checkParse = PhoneNumbersNA.PhoneNumber.TryParse(result.From, out var fromPhoneNumber);
                var ownedPhoneNumber = Model.Owned.FirstOrDefault(x => x.DialedNumber == fromPhoneNumber.DialedNumber);
                string FromLink = checkParse && ownedPhoneNumber is not null ? $"<a href='/Home/OwnedNumbers/{ownedPhoneNumber.DialedNumber}' target='_blank'>{result.From}</a>" : result.From;
                checkParse = PhoneNumbersNA.PhoneNumber.TryParse(result.To, out var toPhoneNumber);
                ownedPhoneNumber = Model.Owned.FirstOrDefault(x => x.DialedNumber == toPhoneNumber.DialedNumber);
                string ToLink = checkParse && ownedPhoneNumber is not null ? $"<a href='/Home/OwnedNumbers/{ownedPhoneNumber.DialedNumber}' target='_blank'>{result.To}</a>" : result.To;
                
                <tr>
                    @*<td>@result.Succeeded</td>*@   
                    <td>@result.DateReceivedUTC.ToLocalTime().ToShortDateString() @result.DateReceivedUTC.ToLocalTime().ToShortTimeString()</td>
                    <td>@result.MessageSource</td>
                    <td>@result.MessageType</td>
                    <td>@Html.Raw(FromLink)</td>
                    <td>@Html.Raw(ToLink)</td>
                    <td>@result.RawResponse</td>
                    <td>@result.Content</td>
                    @* <td>@result.MediaURLs</td> *@
                    @*<td>@result.RawRequest</td>
                    <td>@result.ToForward</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
<h3 class="pt-3">Messaging Usage by Phone Number</h3>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Outbound MMS</th>
                <th>Outbound SMS</th>
                <th>Inbound SMS</th>
                <th>Inbound MMS</th>
                <th>Registered Upstream?</th>
                <th>Upstream Status Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.UsageSummary)
            {
                var checkParse = PhoneNumbersNA.PhoneNumber.TryParse(result.AsDialed, out var phoneNumber);
                var ownedPhoneNumber = Model.Owned.FirstOrDefault(x => x.DialedNumber == phoneNumber.DialedNumber);
                string AsDialedLink = checkParse && ownedPhoneNumber is not null ? $"<a href='/Home/OwnedNumbers/{ownedPhoneNumber.DialedNumber}' target='_blank'>{result.AsDialed}</a>" : result.AsDialed;

                <tr>
                    <td>@Html.Raw(AsDialedLink)</td>
                    <td>@result.OutboundMMSCount</td>
                    <td>@result.OutboundSMSCount</td>
                    <td>@result.InboundSMSCount</td>
                    <td>@result.InboundMMSCount</td>
                    <td>@result.RegisteredUpstream</td>
                    <td>@result.UpstreamStatusDescription</td>
                    <td><a class="btn btn-primary" href="./RefreshStatus?dialedNumber=@result.AsDialed">Refresh Upstream</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>