@model AccelerateNetworks.Operations.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingInvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingInvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingInvoiceReoccuringId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingInvoiceReoccuringId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundWorkCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundWorkCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpfrontInvoiceLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpfrontInvoiceLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReoccuringInvoiceLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReoccuringInvoiceLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnsiteInstallation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnsiteInstallation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressUnitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressUnitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressUnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressUnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnparsedAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnparsedAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
