@using AccelerateNetworks.Operations
@model OwnedNumberResult
@{
    ViewData["Title"] = "Owned Phone Number";
}

<script type="text/javascript">
    function handleSearchQuery(textBox) {
        var route = 'https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/suggest?text=';
        var suffix = '&maxSuggestions=5&countryCode=USA,CAN&f=pjson';
        fetch(`${route}${textBox.value}${suffix}`)
            .then(
                function (response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                        return;
                    }

                    // Examine the text in the response
                    response.json().then(function (data) {
                        var options = '';
                        var longestResult = 0;
                        if (data.suggestions != undefined) {
                            for (var i = 0; i < data.suggestions.length; i++) {
                                options += `<li class='list-group-item' onclick='setAddress(this.innerHTML)'>${data.suggestions[i].text}</li>`;
                                if (longestResult < data.suggestions[i].text.length) {
                                    longestResult = data.suggestions[i].text.length;
                                }
                            }

                            var datalist = document.getElementById("addressOptions");
                            datalist.innerHTML = options;
                            datalist.hidden = false;
                        }

                        var textBox = document.getElementById("address");
                        textBox.focus();

                        console.log(datalist);
                    });
                }
            )
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    }

    function setAddress(address) {
        var textBox = document.getElementById("address");
        textBox.value = address;
        var datalist = document.getElementById("addressOptions");
        datalist.hidden = true;
    }
</script>


<h1 class="display-4 p-3">🏢 Owned Numbers</h1>
@if (!string.IsNullOrWhiteSpace(Model?.Message))
{
    if (string.IsNullOrWhiteSpace(Model?.AlertType))
    {
        <div class="alert alert-danger col-12" role="alert">
            @Model?.Message
        </div>
    }
    else
    {
        var alertType = Model?.AlertType ?? "alert-danger";
        <div class="alert @alertType col-12" role="alert">
            @Model?.Message
        </div>
    }
}
<div class="btn-group pb-3" role="group" aria-label="Basic example">
    @*    <a class="btn btn-primary" href="/Home/OwnedNumbers">Return to List</a>
    *@    @{
        if (!string.IsNullOrWhiteSpace(Model?.Owned?.BillingClientId))
        {
            <a href="https://billing.acceleratenetworks.com/clients/@Model?.Owned.BillingClientId" class="btn btn-success" target="_blank" rel="noopener noreferrer">
                Billing
            </a>
        }
        else
        {
            <a class="btn btn-outline-success disabled">
                Billing
            </a>
        }
    }
    @{
        if (!(Model?.Owned.EmergencyInformationId is null))
        {
            <a href="/Home/E911/@Model?.Owned.DialedNumber" class="btn btn-info">
                Emergency
            </a>
        }
        else
        {
            <a class="btn btn-outline-info disabled">
                Emergency
            </a>
        }
    }
    @*    <a class="btn btn-warning text-light" href="https://acceleratenetworks.com/Cart/Checkout/E911Registration/{@Model?.Owned.DialedNumber}">Create an E911 Regisitration Order</a>
    *@
</div>
<form action="/Home/OwnedNumbers/@Model?.Owned.DialedNumber" method="post" class="needs-validation">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Dialed Number</label>
            <input asp-for="Owned.DialedNumber" type="text" class="form-control" id="DialedNumber" readonly>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="Owned.Active" role="switch" id="active">
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Ingested From</label>
            <input asp-for="Owned.IngestedFrom" type="text" class="form-control" id="IngestedFrom" disabled readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Ingested Date</label>
            <input asp-for="Owned.DateIngested" type="text" class="form-control" id="DateIngested" disabled readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="firstName">Notes</label>
            <input asp-for="Owned.Notes" type="text" class="form-control" id="Notes">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="lastName">Service Provider</label>
            <input asp-for="Owned.SPIDName" type="text" class="form-control" id="SPIDName" disabled readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Service Provider Id</label>
            <input asp-for="Owned.SPID" type="text" class="form-control" id="SPID" disabled readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Billing Client Id</label>
            <input asp-for="Owned.BillingClientId" type="text" class="form-control" id="BillingClientId">
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Owned By</label>
            <input asp-for="Owned.OwnedBy" type="text" class="form-control" id="OwnedBy">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Status</label>
            <input asp-for="Owned.Status" type="text" class="form-control" id="Status" disabled readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">SMSRoute</label>
            <input asp-for="Owned.SMSRoute" type="text" class="form-control" id="SMSRoute" disabled readonly>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Update</button>
    <br />
</form>
<br />


@if (Model?.EmergencyInformation?.DialedNumber == Model?.Owned?.DialedNumber)
{
    // show the existing registration
    <h4 class="mb-3">E911 Registration</h4>
    <div class="table-responsive shadow-sm mb-3">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>CallerId</th>
                    <th>Address</th>
                    <th>First Registered</th>
                    <th>Last Verified</th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Model?.EmergencyInformation.DialedNumber
                    </td>
                    <td>
                        @Model?.EmergencyInformation?.CallerName
                    </td>
                    <td>
                        @Model?.EmergencyInformation?.AddressLine1
                        @Model?.EmergencyInformation?.AddressLine2
                        @Model?.EmergencyInformation?.City
                        @Model?.EmergencyInformation?.State
                        @Model?.EmergencyInformation?.Zip
                    </td>
                    <td>
                        @Model?.EmergencyInformation?.BulkVSLastModificationDate?.ToShortDateString()
                    </td>
                    <td>
                        @Model?.EmergencyInformation?.ModifiedDate?.ToShortDateString()
                    </td>
                    <td>
                        <a href="/Home/E911/@Model?.EmergencyInformation?.DialedNumber" class="btn btn-outline-secondary" target="_blank">
                            View E911
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
else
{
    // show the form for registering the number
    <div class="alert alert-warning col-12" role="alert">
        🚨 No E911 Registration found for this number.
    </div>
    <h4 class="mb-3">E911 Address Registration</h4>
    <form action="/Home/OwnedNumbers/@Model?.Owned.DialedNumber/RegisterE911" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3" id="searchForm">
            <label for="address">Service Address for this Number</label>
            <input asp-for="UnparsedAddress" type="text" class="form-control" id="address" placeholder="5432 5th Ave" pattern=".+[,].+" oninput="handleSearchQuery(this)" onfocus="handleSearchQuery(this)" list="addressOptions" autocomplete="off" data-toggle="dropdown" required>
            <ul class="list-group" role="menu" aria-labelledby="menu1" id="addressOptions">
            </ul>
            <small class="text-muted">
                @*If it doesn't have a placeholder value give it a example*@
                Enter the service address for this number, or the address of the physical phone (ex. 1250 1st Ave S, Seattle, WA, 98134, USA)
            </small>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <select asp-for="AddressUnitType" class="form-select d-block w-100" id="unitType">
                        <option></option>
                        @{
                            var unitTypes = new string[] {
                    "Apartment",
                    "Basement",
                    "Building",
                    "Department",
                    "Floor",
                    "Front",
                    "Hanger",
                    "Lobby",
                    "Lot",
                    "Lower",
                    "Office",
                    "Penthouse",
                    "Pier",
                    "Rear",
                    "Room",
                    "Side",
                    "Space",
                    "Suite",
                    "Trailer",
                    "Unit",
                    "Upper",
                                };

                            foreach (var unitType in unitTypes)
                            {
                                <option>@unitType</option>
                            }
                        }
                    </select>
                    <label for="unitType">Unit Type <span class="text-muted">(Optional)</span></label>
                    <small class="text-muted">
                        Optionally enter a unit type (ex. Apartment)
                    </small>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="AddressUnitNumber" type="text" class="form-control" id="address2" placeholder="307">
                    <label for="address2">Unit Number <span class="text-muted">(Optional)</span></label>
                    <small class="text-muted">
                        Optionally enter a unit number (ex. 307)
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <p>This is used for the Caller Name presented to 911 operators, using the Business Name is recommended.</p>
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Alexander" required>
                <small class="text-muted">
                    Enter your first name
                </small>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Bell" required>
                <small class="text-muted">
                    Enter your last name
                </small>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Business Name <span class="text-muted">(Optional)</span></label>
            <input asp-for="BusinessName" type="text" class="form-control" id="businessName" placeholder="ACME Corporation">
            <small class="text-muted">
                Enter the name of your business or the organization that you represent
            </small>
        </div>

        <button type="submit" class="btn btn-warning text-light">Register</button>
        <br />
    </form>
    <br />
}

@if (Model?.PortedPhoneNumbers.Any() ?? false)
{
    <h4 class="mb-3">Related Ported Numbers</h4>
    <div class="table-responsive shadow-sm mb-3">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        PortedDialedNumber
                    </th>
                    <th scope="col">
                        DateIngested
                    </th>
                    <th scope="col">
                        DateFirmOrderCommitment
                    </th>
                    <th scope="col">
                        ExternalPortRequestId
                    </th>
                    <th scope="col">
                        IngestedFrom
                    </th>
                    <th scope="col">
                        Completed
                    </th>
                    <th scope="col">
                    </th>
                    @*                <th></th>
                *@
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model?.PortedPhoneNumbers.OrderByDescending(x => x?.DateIngested))
                {
                    <tr>
                        <td>
                            @product?.PortedDialedNumber
                        </td>
                        <td>
                            @product?.DateIngested
                        </td>
                        <td>
                            @product?.DateFirmOrderCommitment
                        </td>
                        <td>
                            @product?.ExternalPortRequestId
                        </td>
                        <td>
                            @product?.IngestedFrom
                        </td>
                        <td>
                            @product?.Completed
                        </td>
                        <td>
                            <a href="/Home/Order/@product?.OrderId" class="btn btn-outline-primary">
                                Edit Order
                            </a>
                        </td>
                        @*                    <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="Carriers" asp-action="FromLookup" asp-route-id="@product.PhoneNumberLookupId" class="btn btn-success">New Carrier</a>
                <a asp-action="Edit" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-danger">Delete</a>
                </div>
                </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model?.PurchasedPhoneNumbers.Any() ?? false)
{
    <h4 class="mb-3">Related Purchased Numbers</h4>
    <div class="table-responsive shadow-sm mb-3">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        DialedNumber
                    </th>
                    <th scope="col">
                        DateIngested
                    </th>
                    <th scope="col">
                        NumberType
                    </th>
                    <th scope="col">
                        DateOrdered
                    </th>
                    <th scope="col">
                        IngestedFrom
                    </th>
                    <th scope="col">
                        Completed
                    </th>
                    <th scope="col">
                    </th>
                    @*                <th></th>
                *@
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model?.PurchasedPhoneNumbers.OrderByDescending(x => x?.DateIngested))
                {
                    <tr>
                        <td>
                            @product?.DialedNumber
                        </td>
                        <td>
                            @product?.DateIngested
                        </td>
                        <td>
                            @product?.NumberType
                        </td>
                        <td>
                            @product?.DateOrdered
                        </td>
                        <td>
                            @product?.IngestedFrom
                        </td>
                        <td>
                            @product?.Completed
                        </td>
                        <td>
                            <a href="/Home/Order/@product?.OrderId" class="btn btn-outline-primary">
                                Edit Order
                            </a>
                        </td>
                        @*                    <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="Carriers" asp-action="FromLookup" asp-route-id="@product.PhoneNumberLookupId" class="btn btn-success">New Carrier</a>
                <a asp-action="Edit" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-danger">Delete</a>
                </div>
                </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model?.RelatedOrders.Any() ?? false)
{
    <h4 class="mb-3">Related Orders</h4>
    <div class="table-responsive shadow-sm mb-3">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                @* Hide merged orders *@
                @foreach (var order in Model.RelatedOrders.Where(x => x.MergedOrderId is null).OrderByDescending(x => x.DateSubmitted))
                {
                    var businessName = string.IsNullOrWhiteSpace(order.BusinessName) ? $"{order.FirstName} {order?.LastName}" : order.BusinessName;
                    <tr>
                        <td data-order="@order?.DateSubmitted.Ticks">
                            <h3>
                                <a href="/Home/Order/@order?.OrderId" class="link-dark">
                                    @businessName
                                </a>
                            </h3>
                            <p class="text-muted">
                                @order?.DateSubmitted.ToString("MM/dd hh:mm tt")
                            </p>
                            <p>
                                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                                    @if (!string.IsNullOrWhiteSpace(order?.UpfrontInvoiceLink))
                                    {
                                        <a href="@order?.UpfrontInvoiceLink" class="btn btn-outline-success" target="_blank" rel="noopener noreferrer">
                                            View Upfront Quote
                                        </a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(order?.ReoccuringInvoiceLink))
                                    {
                                        <a href="@order?.ReoccuringInvoiceLink" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
                                            View Recurring Quote
                                        </a>
                                    }
                                </div>
                            </p>
                        </td>
                        <td>
                            <strong>Customer Name</strong>
                            <p>
                                @order?.FirstName
                                @order?.LastName
                                <a href="mailto:@order?.Email" target="_blank" rel="noopener noreferrer">
                                    @order?.Email
                                </a>
                            </p>
                            <strong>Address</strong>
                            <p>
                                @order?.Address

                                @order?.Address2

                                @order?.City

                                @order?.State

                                @order?.Zip
                            </p>
                        </td>
                        <td>
                            @{
                                if (!string.IsNullOrWhiteSpace(order?.CustomerNotes))
                                {
                                    <strong>Customer Notes</strong>
                                    <p>@order.CustomerNotes</p>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
