@using AccelerateNetworks.Operations
@model IEnumerable<OwnedPhoneNumber>
@{
    ViewData["Title"] = "Owned Phone Numbers";
}
<h1 class="display-4 p-3">🏢 Owned Numbers</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Number
                </th>
                <th>Status</th>
                <th scope="col">
                    Provider
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Client and Billing Id
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var number in Model.Where(x => x.IngestedFrom != "Test"))
                {
                    var ingestedBadge = number.IngestedFrom;
                    switch (number.IngestedFrom)
                    {
                        case "FirstPointCom":
                            ingestedBadge = "<h4><span class='badge bg-info'>FirstPointCom</span></h4>";
                            break;
                        case "BulkVS":
                            ingestedBadge = "<h4><span class='badge bg-primary'>BulkVS</span></h4>";
                            break;
                        case "TeleMessage":
                            ingestedBadge = "<h4><span class='badge bg-warning'>TeleMessage</span></h4>";
                            break;
                    }
                    <tr>
                        <td scope="row">
                            @*<a href="https://acceleratenetworks.com/cart/order/@order.OrderId" class="btn btn-primary">
                                    View Order
                                </a>*@
                            @*<h4 class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="badge badge-info badge-pill">
                                        @number.DateIngested
                                    </span>
                                </h4>*@
                            <h4>@number.DialedNumber</h4>
                        </td>
                        <td>
                            @{
                                if (number.Active)
                                {
                                    <h4><span class="badge bg-success">Active</span></h4>
                                }
                                else
                                {
                                    <h4><span class="badge bg-danger">Inactive</span></h4>
                                }
                            }
                        </td>
                        <td>
                            @Html.Raw(ingestedBadge)
                        </td>
                        <td>
                            <p>@number.Notes</p>
                        </td>
                        <td>
                            <p>@number.OwnedBy</p>
                            <p>@number.BillingClientId</p>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-danger text-light" href="/Home/OwnedNumbers/@number.DialedNumber">Edit</a>
                                @{
                                    if (!string.IsNullOrWhiteSpace(number.BillingClientId))
                                    {
                                        <a href="https://billing.acceleratenetworks.com/clients/@number?.BillingClientId/edit" class="btn btn-success" target="_blank" rel="noopener noreferrer">
                                            Billing
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-success disabled">
                                            Billing
                                        </a>
                                    }
                                }
                                @{
                                    if (number?.EmergencyInformationId is not null)
                                    {
                                        <a href="/Home/EmergencyInformation/@number.DialedNumber" class="btn btn-info text-light">
                                            Emergency
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-info disabled">
                                            Emergency
                                        </a>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>