@model NumberSearch.Mvc.CartResult;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-3 text-center">
        <h1 class="display-4">Your Cart</h1>
    </div>
    <br />
    @{
        if (!string.IsNullOrWhiteSpace(Model?.Message))
        {
            <div class="row">
                <div class="alert alert-danger col" role="alert">
                    @Model?.Message
                </div>
            </div>
        }
    }
    @{
        var productOrders = Model?.Cart?.ProductOrdersToDictionary();
        if (Model?.Cart?.PhoneNumbers.Count() > 0 || Model?.Cart?.Products.Count() > 0 || Model?.Cart?.Services.Count() > 0 || Model?.Cart?.PortedPhoneNumbers.Count() > 0 || Model?.Cart?.VerifiedPhoneNumbers.Count() > 0)
        {
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            @{
                                foreach (var item in Model?.Cart?.PhoneNumbers)
                                {
                                    var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.DialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        @{
                                            if (item.NumberType == "Executive")
                                            {
                                                <td>$200</td>
                                            }
                                            else if (item.NumberType == "Premium")
                                            {
                                                <td>$40</td>
                                            }
                                            else
                                            {
                                                <td>$20</td>
                                            }
                                        }
                                        <td>
                                            <button onclick="RemoveFromCart('PhoneNumber','@item.DialedNumber', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                var freePortedNumbers = Model?.Cart.Services.Count();

                                foreach (var item in Model?.Cart?.PortedPhoneNumbers)
                                {
                                    var calculatedCost = 20;


                                    var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.PortedDialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        <td>$@calculatedCost</td>
                                        <td>
                                            <button onclick="RemoveFromCart('PortedPhoneNumber','@item.PortedDialedNumber', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.VerifiedPhoneNumbers)
                                {
                                    var location = $"{item?.City ?? "Unknown City"}, {item?.Province ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.VerifiedDialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        <td>$10</td>
                                        <td>
                                            <button onclick="RemoveFromCart('VerifiedPhoneNumber', '@item.VerifiedDialedNumber', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.Products)
                                {
                                    var productOrder = productOrders[item?.ProductId.ToString()];
                                    var localTotal = productOrder.Quantity * item.Price;
                                    <tr>
                                        <td scope="row"><h4>@item.Name</h4></td>
                                        @{
                                            if (productOrder.Quantity > 1)
                                            {
                                                <td>@productOrder.Quantity Units</td>
                                            }
                                            else
                                            {
                                                <td>@productOrder.Quantity Unit</td>
                                            }
                                        }
                                        <td>at $@item.Price each</td>
                                        <td>$@localTotal</td>
                                        <td>
                                            <button onclick="RemoveFromCart('Product', '@item.ProductId', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.Services)
                                {
                                    var productOrder = productOrders[item?.ServiceId.ToString()];
                                    var localTotal = productOrder.Quantity * item.Price;
                                    <tr>
                                        <td scope="row"><h4>@item.Name</h4></td>
                                        @{
                                            if (productOrder.Quantity > 1)
                                            {
                                                <td>@productOrder.Quantity Units</td>
                                            }
                                            else
                                            {
                                                <td>@productOrder.Quantity Unit</td>
                                            }
                                        }
                                        <td>at $@item.Price per</td>
                                        <td>$@localTotal</td>
                                        <td>
                                            <button onclick="RemoveFromCart('Service', '@item.ServiceId', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.Coupons)
                                {
                                    var productOrder = productOrders[item?.CouponId.ToString()];
                                    <tr>
                                        <td scope="row"><h4>@item.Name</h4></td>
                                        <td>Discount</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button onclick="RemoveFromCart('Coupon', '@item.CouponId', 1, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }


                            }
                        </tbody>
                    </table>
                </div>
            </div>
            if (!Model.Cart.Services.Any())
            {
                <div class="row mt-3">
                    <div class="col">
                        <p class="display-4 text-center">Forgetting anything?</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Services" asp-action="Index">⮜ Add Services</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Search" asp-action="Index">Add Numbers ⮞</a>
                    </div>
                </div>
            }
            if (!Model.Cart.Products.Any())
            {
                <div class="row mt-3">
                    <div class="col">
                        <p class="display-4 text-center">Forgetting anything?</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Hardware" asp-action="Index">⮜ Add Hardware</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Search" asp-action="Index">Add Numbers ⮞</a>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <br />
                    <a class="btn btn-success btn-lg btn-block" asp-controller="Cart" asp-action="Checkout">Complete your Order 🛒</a>
                </div>
            </div>
            <br />
        }
        else
        {
            <div class="row">
                <div class="alert alert-warning col" role="alert">
                    There are no items in your cart!
                </div>
            </div>
            <br />
        }
    }
</div>