@model NumberSearch.Mvc.CartResult;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-3 text-center">
        <h1 class="display-4">Your Cart</h1>
    </div>
    <br />
    @{
        if (!string.IsNullOrWhiteSpace(Model?.Message))
        {
            <div class="row">
                <div class="alert alert-danger col" role="alert">
                    @Model?.Message
                </div>
            </div>
        }
    }
    @{
        var productOrders = Model?.Cart?.ProductOrdersToDictionary();
        if (Model?.Cart?.PhoneNumbers.Count() > 0 || Model?.Cart?.Products.Count() > 0 || Model?.Cart?.Services.Count() > 0 || Model?.Cart?.PortedPhoneNumbers.Count() > 0 || Model?.Cart?.VerifiedPhoneNumbers.Count() > 0)
        {
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            @{
                                foreach (var item in Model?.Cart?.PhoneNumbers)
                                {
                                    var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.DialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        @{
                                            if (item.NumberType == "Executive")
                                            {
                                                <td>$200</td>
                                            }
                                            else if (item.NumberType == "Premium")
                                            {
                                                <td>$40</td>
                                            }
                                            else
                                            {
                                                <td>$20</td>
                                            }
                                        }
                                        <td>
                                            <button onclick="PhoneNumberRemove(@item.DialedNumber, this)" class="btn btn-outline-danger">
                                                <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                // Track the number of free ports this order qualifies for.
                                var freePortedNumbers = Model?.Cart.Services.Count();

                                foreach (var item in Model?.Cart?.PortedPhoneNumbers)
                                {
                                    // Discount one ported number for each service they purchase.
                                    var calculatedCost = 20;

                                    if (freePortedNumbers > 0)
                                    {
                                        freePortedNumbers--;
                                        calculatedCost = 0;
                                    }
                                    // If they use up all of their free ports, then charge $2 a line.
                                    else if (freePortedNumbers == 0 && (Model?.Cart.Services.Any() ?? false))
                                    {
                                        calculatedCost = 2;
                                    }

                                    var location = $"{item?.City ?? "Unknown City"}, {item?.State ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.PortedDialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        <td>$@calculatedCost</td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="RemovePortedPhoneNumber" asp-route-id="@item.PortedDialedNumber" target="_top">
                                                <input type="button" class="btn btn-outline-danger" value="Remove">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.VerifiedPhoneNumbers)
                                {
                                    var location = $"{item?.City ?? "Unknown City"}, {item?.Province ?? "Unknown State"}";
                                    var formattedNumber = $"({item.NPA}) {item.NXX}-{item.XXXX.ToString("0000")}";
                                    var number = item.VerifiedDialedNumber;
                                    <tr>
                                        <td scope="row"><h4>@formattedNumber</h4></td>
                                        <td>@Html.Raw(number)</td>
                                        <td>@location</td>
                                        <td>$10</td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="RemoveVerifiedPhoneNumber" asp-route-id="@item.VerifiedDialedNumber" target="_top">
                                                <input type="button" class="btn btn-outline-danger" value="Remove">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.Products)
                                {
                                    var productOrder = productOrders[item?.ProductId.ToString()];
                                    var localTotal = productOrder.Quantity * item.Price;
                                    <tr>
                                        <td scope="row"><h4>@item.Name</h4></td>
                                        @{
                                            if (productOrder.Quantity > 1)
                                            {
                                                <td>@productOrder.Quantity Units</td>
                                            }
                                            else
                                            {
                                                <td>@productOrder.Quantity Unit</td>
                                            }
                                        }
                                        <td>at $@item.Price each</td>
                                        <td>$@localTotal</td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="RemoveProduct" asp-route-id="@item.ProductId" target="_top">
                                                <input type="button" class="btn btn-outline-danger" value="Remove">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            @{
                                foreach (var item in Model?.Cart?.Services)
                                {
                                    var productOrder = productOrders[item?.ServiceId.ToString()];
                                    var localTotal = productOrder.Quantity * item.Price;
                                    <tr>
                                        <td scope="row"><h4>@item.Name</h4></td>
                                        @{
                                            if (productOrder.Quantity > 1)
                                            {
                                                <td>@productOrder.Quantity Units</td>
                                            }
                                            else
                                            {
                                                <td>@productOrder.Quantity Unit</td>
                                            }
                                        }
                                        <td>at $@item.Price per</td>
                                        <td>$@localTotal</td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="RemoveService" asp-route-id="@item.ServiceId" target="_top">
                                                <input type="button" class="btn btn-outline-danger" value="Remove">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <hr class="mb-4">
                <a class="btn btn-success btn-lg btn-block" asp-controller="Cart" asp-action="Checkout">Complete your Order</a>
            </div>
            <br />
        }
        else
        {
            <div class="row">
                <div class="alert alert-warning col" role="alert">
                    There are no items in your cart!
                </div>
            </div>
            <br />
        }
    }
</div>