@model NumberSearch.Mvc.Cart;

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var numbers = Model?.PhoneNumbers?.ToArray();
    var purchased = Model?.PurchasedPhoneNumbers?.ToArray();
    var ported = Model?.PortedPhoneNumbers?.ToArray();
    var products = Model?.Products?.ToArray();
    var services = Model?.Services?.ToArray();
    var verified = Model?.VerifiedPhoneNumbers?.ToArray();
    var sumOfitems = numbers.Length + ported.Length + products.Length + services.Length + purchased.Length + verified.Length;
    var productOrders = Model.ProductOrdersToDictionary();

}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-3 text-center">
        @{
            if (Model?.Order?.OrderId != Guid.Empty && Model?.Order?.DateSubmitted == DateTime.MinValue)
            {
                <h1 class="display-4">Complete Your Order</h1>
            }
            else if (Model?.Order?.DateSubmitted > DateTime.MinValue)
            {
                <h1 class="display-4">Your Completed Order</h1>
            }
        }
    </div>
    <br />
    <div class="row d-flex align-content-end">
        @{
            if (Model.Order.Completed)
            {
                <div class="col-md-12 order-md-1 pb-5">
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-success badge-pill">☎️ Submitted</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-success  badge-pill">⚙️ Processed</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-success badge-pill">🎉 Completed</span>
                    </h4>
                </div>
            }
            else if (Model.Order.BackgroundWorkCompleted)
            {
                <div class="col-md-12 order-md-1 pb-5">
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-primary badge-pill">☎️ Submitted</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-primary badge-pill">⚙️ Processing</span>
                    </h4>
                </div>
                if ((purchased is not null) && (purchased.Any()) && (purchased?.Where(x => x.Completed is true).ToArray().Length == purchased?.Length))
                {
                    <div class="col">
                        <h4>
                            <span class="badge badge-primary badge-pill">✔️ Purchased</span>
                        </h4>
                    </div>
                }
                else if (purchased is not null && purchased.Any())
                {
                    <div class="col">
                        <h4>
                            <span class="badge badge-primary badge-pill">❓ Purchased</span>
                        </h4>
                    </div>
                }
                var c = ported?.Where(x => x.Completed is true).ToArray().Length;
                if ((ported is not null) && (ported.Any()) && (ported?.Where(x => x.Completed is true).ToArray().Length == ported?.Length))
                {
                    <div class="col">
                        <h4>
                            <span class="badge badge-primary badge-pill">✔️ Transferred</span>
                        </h4>
                    </div>
                }
                else if (ported is not null && ported.Any())
                {
                    <div class="col">
                        <h4>
                            <span class="badge badge-primary badge-pill">❓ Transferred</span>
                        </h4>
                    </div>
                }
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Completed</span>
                    </h4>
                </div>
            }
            else if (Model?.Order?.DateSubmitted > DateTime.MinValue)
            {
                <div class="col-md-12 order-md-1 pb-5">
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-primary badge-pill">☎️ Submitted</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Processed</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Completed</span>
                    </h4>
                </div>
            }
            else
            {
                <div class="col-md-12 order-md-1 pb-5">
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Submitted</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Processed</span>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <span class="badge badge-secondary badge-pill">Completed</span>
                    </h4>
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Order</span>
                <span class="badge badge-success badge-pill">@sumOfitems</span>
            </h4>
            <ul class="list-group mb-3">
                @{
                    var productsTotal = 0;
                    var servicesTotal = 0;
                    var numbersTotal = 0;
                    var portedTotal = 0;
                    var verifiedTotal = 0;
                    foreach (var number in numbers)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                @{
                                    <h6 class="my-0">Phone Number ❓</h6>
                                }
                                <small class="text-muted">(@number.NPA  ) @number.NXX.ToString("000") @number.XXXX.ToString("0000")</small>
                            </div>
                            @{
                                if (number.NumberType == "Executive")
                                {
                                    numbersTotal += 200;
                                    <span class="text-muted">$200</span>
                                }
                                else if (number.NumberType == "Premium")
                                {
                                    numbersTotal += 40;
                                    <span class="text-muted">$40</span>
                                }
                                else
                                {
                                    numbersTotal += 20;
                                    <span class="text-muted">$20</span>
                                }
                            }
                        </li>
                    }

                    foreach (var number in purchased)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Phone Number ✔️</h6>
                                <small class="text-muted">(@number.NPA) @number.NXX.ToString("000") @number.XXXX.ToString("0000")</small>
                            </div>
                            @{
                                if (number.NumberType == "Executive")
                                {
                                    numbersTotal += 200;
                                    <span class="text-muted">$200</span>
                                }
                                else if (number.NumberType == "Premium")
                                {
                                    numbersTotal += 40;
                                    <span class="text-muted">$40</span>
                                }
                                else
                                {
                                    numbersTotal += 20;
                                    <span class="text-muted">$20</span>
                                }
                            }
                        </li>
                    }


                    var freePortedNumbers = Model?.Services.Count();
                    foreach (var number in ported)
                    {
                        // Discount one ported number for each service they purchase.
                        var calculatedCost = 20;

                        if (freePortedNumbers > 0)
                        {
                            freePortedNumbers--;
                            calculatedCost = 0;
                        }
                        // If they use up all of their free ports, then charge $2 a line.
                        else if (freePortedNumbers == 0 && (Model?.Services.Any() ?? false))
                        {
                            calculatedCost = 2;
                        }

                        portedTotal += calculatedCost;
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Porting Phone Number</h6>
                                <small class="text-muted">(@number.NPA) @number.NXX @number.XXXX.ToString("0000")</small>
                            </div>
                            <span class="text-muted">$@calculatedCost</span>
                        </li>
                    }
                    foreach (var number in verified)
                    {
                        verifiedTotal += 10;
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Verified Phone Number</h6>
                                <small class="text-muted">(@number.NPA) @number.NXX @number.XXXX.ToString("0000")</small>
                            </div>
                            <span class="text-muted">$10</span>
                        </li>
                    }
                    foreach (var product in products)
                    {
                        var productOrder = productOrders[product?.ProductId.ToString()];
                        var localTotal = productOrder.Quantity * product.Price;
                        productsTotal += localTotal;
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">
                                    @product.Name
                                    @if (productOrder.Quantity > 1)
                                    {
                                        <small>x @productOrder.Quantity</small>
                                    }
                                </h6>
                                <small class="text-muted">@product.Description</small>
                            </div>
                            <span class="text-muted">$@localTotal</span>
                        </li>
                    }
                    foreach (var service in services)
                    {
                        var productOrder = productOrders[service?.ServiceId.ToString()];
                        var localTotal = productOrder.Quantity * service.Price;
                        servicesTotal += localTotal;
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">
                                    @service.Name
                                    @if (productOrder.Quantity > 1)
                                    {
                                        <small>x @productOrder.Quantity</small>
                                    }
                                </h6>
                                <small class="text-muted">@service.Description</small>
                            </div>
                            <span class="text-muted">$@localTotal</span>
                        </li>
                    }
                }
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6>Total (USD)</h6>
                        <small class="text-muted">Plus state and local taxes</small>
                    </div>
                    @{
                        var total = numbersTotal + portedTotal + productsTotal + servicesTotal + verifiedTotal;
                        <strong>$@total</strong>
                    }
                </li>
                @{
                    if (Model.Order.DateSubmitted > DateTime.Now.AddYears(-99))
                    {
                        <h4 class="d-flex justify-content-between align-items-center mt-3">
                            <span class="text-muted">Submitted On</span>
                        </h4>
                        <h4 class="d-flex justify-content-between align-items-center mt-3">
                            <span class="badge badge-info badge-pill">@Model.Order.DateSubmitted</span>
                        </h4>
                    }
                }
            </ul>
        </div>
        <div class="col-md-8 order-md-1 pb-5">
            <h4 class="mb-3">Billing Information</h4>
            <form asp-controller="Cart" asp-action="Submit" method="post" class="needs-validation">
                @Html.AntiForgeryToken()
                <input asp-for="Order.OrderId" type="text" value="@Model?.Order?.OrderId" hidden />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input asp-for="Order.FirstName" type="text" class="form-control" id="firstName" placeholder="Alexander" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input asp-for="Order.LastName" type="text" class="form-control" id="lastName" placeholder="Bell" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Business Name (Optional)</label>
                    <input asp-for="Order.BusinessName" type="text" class="form-control" id="businessName" placeholder="American Telegraph and Telephone Company">
                    <div class="invalid-feedback">
                        Please enter a valid business name.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email </label>
                    <input asp-for="Order.Email" type="email" class="form-control" id="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input asp-for="Order.Address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input asp-for="Order.Address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">City</label>
                        <input asp-for="Order.City" type="text" class="form-control" id="city" placeholder="Seattle" required>
                        <div class="invalid-feedback">
                            Please enter your shipping city.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select asp-for="Order.State" class="custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            @{
                                var states = new string[] { "Alabama",
                                                        "Alaska",
                                                        "Arizona",
                                                        "Arkansas",
                                                        "California",
                                                        "Colorado",
                                                        "Connecticut",
                                                        "Delaware",
                                                        "Florida",
                                                        "Georgia",
                                                        "Hawaii",
                                                        "Idaho",
                                                        "Illinois",
                                                        "Indiana",
                                                        "Iowa",
                                                        "Kansas",
                                                        "Kentucky",
                                                        "Louisiana",
                                                        "Maine",
                                                        "Maryland",
                                                        "Massachusetts",
                                                        "Michigan",
                                                        "Minnesota",
                                                        "Mississippi",
                                                        "Missouri",
                                                        "Montana",
                                                        "Nebraska",
                                                        "Nevada",
                                                        "New Hampshire",
                                                        "New Jersey",
                                                        "New Mexico",
                                                        "New York",
                                                        "North Carolina",
                                                        "North Dakota",
                                                        "Ohio",
                                                        "Oklahoma",
                                                        "Oregon",
                                                        "Pennsylvania",
                                                        "Rhode Island",
                                                        "South Carolina",
                                                        "South Dakota",
                                                        "Tennessee",
                                                        "Texas",
                                                        "Utah",
                                                        "Vermont",
                                                        "Virginia",
                                                        "Washington",
                                                        "West Virginia",
                                                        "Wisconsin",
                                                        "Wyoming"
                                                        };

                                foreach (var state in states)
                                {
                                    <option>@state</option>
                                }
                            }
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input asp-for="Order.Zip" type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="zip" class="text-muted">Notes</label>
                        <input asp-for="Order.CustomerNotes" type="text" class="form-control" id="customernotes" placeholder="Add important information for our staff">
                    </div>
                    <div class="col-md-12">
                        <div class="form-check">
                            <input asp-for="Order.Quote" type="checkbox" class="form-check-input" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Please send a quote
                            </label>
                        </div>
                    </div>
                </div>
                @{

                    if (ported.Any() && Model?.Order?.OrderId != Guid.Empty && Model?.Order?.DateSubmitted > DateTime.MinValue)
                    {
                        <hr class="mb-4">
                        <input type="text" hidden name="AddPortingInfo" value="true" />
                        <button asp-controller="Cart" asp-action="Order" asp-route-id="@Model?.Order?.OrderId" class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Add Porting Information</button>
                    }
                    else if (Model?.Order?.OrderId != Guid.Empty && Model?.Order?.DateSubmitted == DateTime.MinValue)
                    {
                        <partial name="_LoadingPartial" />
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Submit your Order</button>
                    }
                }
                <br />
            </form>
        </div>
    </div>
</div>