@model NumberSearch.Mvc.Models.LookupResults;

@{
    ViewData["Title"] = "Bulk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function showHidden(){
        Array.from(document.querySelectorAll('.hidden')).forEach(function(el) {
            el.classList.remove('hidden');
        });
    }
</script>

<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">Keep your Numbers</h1>
                <p class="lead text-white">Phone numbers are part of your brand. Bring all of your current numbers with you.</p>
            </div>
        </div>
    </div>
</section>
<div class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>🚀 Enter multiple phone numbers, we will hunt down any information we can find for each phone number and check if we can port the phone number to our network.</p>
                <p>🔮 We check to see who the underlying telecom provider is and when the phone number was last transferred between telecom providers.</p>
                <p>🔬 Find out how your caller ID displays on other people's phones!</p>
            </div>
            <div class="offset-xl-2 offset-lg-1"></div>
            <div class="col">
                <form class="justify-content-center">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+1</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea" type="text" name="dialedNumber" placeholder="200 Numbers per Search" style="height:8rem;">@Model?.DialedNumber</textarea>
                        </div>
                        <div class="input-group mx-auto input-group-lg pt-2">
                            <button type="submit" class="btn btn-lg btn-success btn-block" onclick="displayBusyIndicator(this)" asp-controller="Lookup" asp-action="BulkPort">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="pb-3">
        @{
            if (!string.IsNullOrWhiteSpace(Model?.Message))
            {
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            @Model?.Message
                        </div>
                    </div>
                </div>
            }
            if (Model != null && Model?.Lookups != null && Model.Lookups.Any())
            {
                <div class="table-responsive shadow-sm mb-4">
                    <table class="table table-striped table-hover table-borderless" id="investigated">
                        <thead>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Last Port Date
                                </th>
                                <th>
                                    Caller Name
                                </th>
                                <th>
                                    Local Routing #
                                </th>
                                <th>
                                    Carrier
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var number in Model.Lookups)
                                {
                                    <tr>
                                        <td>
                                            <h4>@number?.tn</h4>
                                        </td>
                                        <td>
                                            @number?.LastPorted
                                        </td>
                                        <td>
                                            @number?.LIDBName
                                        </td>
                                        <td>
                                            <h4>@number?.lrn</h4>
                                        </td>
                                        <td>
                                            <p>
                                                @number?.spid
                                                -
                                                @number?.lec
                                                -
                                                @number?.lectype
                                            </p>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            if (Model != null && Model?.NotPortable != null && Model.NotPortable.Any())
            {
                <div class="row mt-3">
                    <div class="col">
                        <div class="btn-group-lg">
                            @if (Model?.Portable is not null && Model.Portable.Any())
                            {
                                <a class="btn btn-success text-light" href="#portable">@Model.Portable.Count() Local Numbers</a>
                            }
                            @if (Model?.Wireless is not null && Model.Wireless.Any())
                            {
                                <a class="btn btn-warning text-light" href="#wireless">@Model.Wireless.Count()  Wireless</a>
                            }
                            @if (Model?.NotPortable is not null && Model.NotPortable.Any())
                            {
                                <a class="btn btn-danger" href="#notportable">@Model.NotPortable.Count() Not Portable</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-2" id="notportable">Not Portable</h1>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            These phone numbers cannot be ported to our network!
                        </div>
                    </div>
                </div>
                <div class="table-responsive shadow-sm">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            @{
                                foreach (var number in Model.NotPortable)
                                {
                                    <tr class="table-danger">
                                        <td scope="row"><h4>@number</h4></td>
                                        <td class="d-none d-sm-table-cell"></td>
                                        <td class="d-none d-sm-table-cell"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            if (Model != null && Model?.Portable != null && Model.Portable.Any())
            {
                <div class="row mt-3">
                    <div class="col">
                        <div class="btn-group-lg">
                            @if (Model?.Portable is not null && Model.Portable.Any())
                            {
                                <a class="btn btn-success text-light" href="#portable">@Model.Portable.Count() Local Numbers</a>
                            }
                            @if (Model?.Wireless is not null && Model.Wireless.Any())
                            {
                                <a class="btn btn-warning text-light" href="#wireless">@Model.Wireless.Count()  Wireless</a>
                            }
                            @if (Model?.NotPortable is not null && Model.NotPortable.Any())
                            {
                                <a class="btn btn-danger" href="#notportable">@Model.NotPortable.Count() Not Portable</a>
                            }
                        </div>
                    </div>
                </div>
                var alreadyInCart = Model?.Cart?.PortedPhoneNumbers.ToDictionary(x => x?.PortedDialedNumber, x => x);
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-2" id="portable">Local Numbers</h1>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            These phone numbers can be ported to our network!
                        </div>
                    </div>
                </div>
                <div class="table-responsive shadow-sm mb-4">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Last Port Date
                                </th>
                                <th>
                                    Caller Name
                                </th>
                                <th>
                                    Carrier
                                </th>
                                <th>
                                    Type
                                </th>
                                <th class="hidden">LRN</th>
                                <th class="hidden">OCN</th>
                                <th class="hidden">SPID</th>
                                <th class="hidden">LEC</th>
                                <th>
                                    <button class="btn btn-outline-info" onclick="showHidden()">All Info</button>

                                </th>
                            </tr>
                            @{
                                foreach (var number in Model.Portable)
                                {
                                    var color = string.Empty;
                                    if (!string.IsNullOrWhiteSpace(number?.Carrier?.Color))
                                    {
                                        color = $"background-color: {number.Carrier.Color};";
                                    }
                                    <tr style="@color">
                                        <td>
                                            <h4>@number?.LrnLookup?.tn?.Substring(1)</h4>
                                        </td>
                                        <td>
                                            @number?.LrnLookup?.LastPorted
                                        </td>
                                        <td>
                                            @number?.LrnLookup?.LIDBName
                                        </td>
                                        <td>
                                            @if (number.Carrier is not null)
                                            {
                                                <img src="@number.Carrier.LogoLink" alt="@number.Carrier.Name" title="LRN @number.LrnLookup.lrn" height="30">
                                            }
                                            else
                                            {
                                                <p>
                                                    @number?.LrnLookup?.spid
                                                    -
                                                    @number?.LrnLookup?.lec
                                                    -
                                                    @number?.LrnLookup?.lectype
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(number.Carrier?.Type))
                                            {
                                                <h4>@number?.Carrier?.Type</h4>
                                            }
                                            else
                                            {
                                                if (number.Wireless)
                                                {
                                                    <h4>Wireless</h4>
                                                }
                                                else
                                                {
                                                    <h4>Non-Wireless</h4>
                                                }
                                            }
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.lrn
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.ocn
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.spid
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.lec
                                        </td>
                                        <td>
                                            @{
                                                if (alreadyInCart.TryGetValue(number.PortedDialedNumber, out var _))
                                                {
                                                    <button onclick="RemoveFromCart('PortedPhoneNumber', '@number.PortedDialedNumber', 1, this)" class="btn btn-outline-danger">
                                                        <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                        Remove
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button onclick="AddToCart('PortedPhoneNumber', '@number.PortedDialedNumber', 1, this)" class="btn btn-outline-primary">
                                                        <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                        Add to Cart
                                                    </button>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            if (Model != null && Model?.Wireless != null && Model.Wireless.Any())
            {
                var alreadyInCart = Model?.Cart?.PortedPhoneNumbers.ToDictionary(x => x?.PortedDialedNumber, x => x);
                <div class="row mt-3">
                    <div class="col">
                        <div class="btn-group-lg">
                            @if (Model?.Portable is not null && Model.Portable.Any())
                            {
                                <a class="btn btn-success text-light" href="#portable">@Model.Portable.Count() Local Numbers</a>
                            }
                            @if (Model?.Wireless is not null && Model.Wireless.Any())
                            {
                                <a class="btn btn-warning text-light" href="#wireless">@Model.Wireless.Count()  Wireless</a>
                            }
                            @if (Model?.NotPortable is not null && Model.NotPortable.Any())
                            {
                                <a class="btn btn-danger" href="#notportable">@Model.NotPortable.Count() Not Portable</a>
                            }
                        </div>
                    </div>
                </div>
                <h1 class="display-2" id="wireless">Wireless Numbers</h1>
                <div class="alert alert-warning col-12" role="alert">
                    These <strong>wireless</strong> phone numbers can be ported to our network!
                </div>
                <div class="table-responsive shadow-sm pb-4">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Last Port Date
                                </th>
                                <th>
                                    Caller Name
                                </th>
                                <th>
                                    Carrier
                                </th>
                                <th>
                                    Type
                                </th>
                                <th class="hidden">LRN</th>
                                <th class="hidden">OCN</th>
                                <th class="hidden">SPID</th>
                                <th class="hidden">LEC</th>
                                <th>
                                    <button class="btn btn-outline-info" onclick="showHidden()">All Info</button>

                                </th>
                            </tr>
                            @{
                                foreach (var number in Model.Wireless)
                                {
                                    var color = string.Empty;
                                    if (!string.IsNullOrWhiteSpace(number?.Carrier?.Color))
                                    {
                                        color = $"background-color: {number.Carrier.Color};";
                                    }
                                    <tr style="@color">
                                        <td>
                                            <h4>@number?.LrnLookup?.tn</h4>
                                        </td>
                                        <td>
                                            @number?.LrnLookup?.LastPorted
                                        </td>
                                        <td>
                                            @number?.LrnLookup?.LIDBName
                                        </td>
                                        <td>
                                            @if (number.Carrier is not null)
                                            {
                                                <img src="@number.Carrier.LogoLink" alt="@number.Carrier.Name" title="LRN @number.LrnLookup.lrn" height="30">
                                            }
                                            else
                                            {
                                                <p>
                                                    @number?.LrnLookup?.spid
                                                    -
                                                    @number?.LrnLookup?.lec
                                                    -
                                                    @number?.LrnLookup?.lectype
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(number.Carrier?.Type))
                                            {
                                                <h4>@number?.Carrier?.Type</h4>
                                            }
                                            else
                                            {
                                                if (number.Wireless)
                                                {
                                                    <h4>Wireless</h4>
                                                }
                                                else
                                                {
                                                    <h4>Non-Wireless</h4>
                                                }
                                            }
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.lrn
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.ocn
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.spid
                                        </td>
                                        <td class="hidden">
                                            @number?.LrnLookup?.lec
                                        </td>
                                        <td>
                                            @{
                                                if (alreadyInCart.TryGetValue(number.PortedDialedNumber, out var _))
                                                {
                                                    <button onclick="RemoveFromCart('PortedPhoneNumber', '@number.PortedDialedNumber', 1, this)" class="btn btn-outline-danger">
                                                        <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                        Remove
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button onclick="AddToCart('PortedPhoneNumber', '@number.PortedDialedNumber', 1, this)" class="btn btn-outline-primary">
                                                        <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                        Add to Cart
                                                    </button>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="btn-group-lg">
                            @if (Model?.Portable is not null && Model.Portable.Any())
                            {
                                <a class="btn btn-success text-light" href="#portable">@Model.Portable.Count() Local Numbers</a>
                            }
                            @if (Model?.Wireless is not null && Model.Wireless.Any())
                            {
                                <a class="btn btn-warning text-light" href="#wireless">@Model.Wireless.Count()  Wireless</a>
                            }
                            @if (Model?.NotPortable is not null && Model.NotPortable.Any())
                            {
                                <a class="btn btn-danger" href="#notportable">@Model.NotPortable.Count() Not Portable</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>