@model HardwareResult
@{
    ViewData["Title"] = "Hardware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page scroll indicator-->
<div class="progress sticky-top" style="height: 0.2rem">
  <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="scrollIndicator"></div>
</div>
<!-- Navbar (Solid background)-->
<header class="header navbar navbar-expand-lg navbar-light bg-light navbar-shadow navbar-sticky" data-scroll-header data-fixed-element>
  <div class="container px-0 px-xl-3">
    <button class="navbar-toggler ms-n2 me-2 order-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand flex-shrink-0 order-lg-1 ms-lg-0 pe-lg-2 me-lg-4" href="/"><img class="d-none d-lg-block" src="/images/scaled/accelerate.png" alt="Accelerate Networks" width="153"><img class="d-lg-none" src="img/original/favicon-194x194.png" alt="Accelerate Networks" width="58"></a>
    <div class="d-flex align-items-center order-lg-3 ms-lg-auto"><a class="nav-link-style fs-sm text-nowrap me-3" href="tel:12068588757">Talk to an expert: <strong>(206) 858-8757</strong></a>
        <div class="border-start me-2" style="height: 30px;"></div>
        <div class="navbar-tool me-2">
          <a id="headerCart" class="navbar-tool-icon-box" href="/Cart">
            <i class="ai-shopping-cart"></i>
            <span class="d-none navbar-tool-badge" id="cartCounter"></span>
          </a>
        </div>
    </div>
    <div class="offcanvas offcanvas-end offcanvas-collapse order-lg-2" id="offcanvasRight" tabindex="-1">
      <div class="offcanvas-header navbar-shadow">
        <h5 class="mt-1 mb-0">Menu</h5>
        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Menu-->
      </div>
    </div>
  </div>
</header>

<section class="bg-secondary">
  <div class="container py-3">
    <nav class="my-3" aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item h6 mb-0 active text-primary d-flex align-items-center" aria-current="page"><span class="me-2 ai-number-fill1 fs-3"></span><span class="d-none d-md-block">Select Phones</span></li>
        <li class="breadcrumb-item h6 mb-0"><a class="d-flex align-items-center" href="/search"><span class="me-2 ai-number2 fs-3"></span><span class="d-none d-md-block">Choose Numbers</span></a></li>
        <li class="breadcrumb-item h6 mb-0"><a class="d-flex align-items-center" href="/addons"><span class="me-2 ai-number3 fs-3"></span><span class="d-none d-md-block">Add Services</span></a></li>
        <li class="breadcrumb-item h6 mb-0"><a class="d-flex align-items-center" href="/checkout"><span class="me-2 ai-number4 fs-3"></span><span class="d-none d-md-block">Complete Checkout</span></a></li>
      </ol>
    </nav>
  </div>
</section>

<section class="container py-5">
  <div class="col-8 mx-auto">
    <h2 class="text-center">Select Phones and Headsets</h2>
    <p class="text-center">Choose the latest hardware for your business, whether you need desktop phones, wireless headsets, or conference room equipment.</p>
    <div class="d-flex justify-content-center py-3"><a class="btn btn-outline-secondary me-2" href="/pricing" style="min-width: 200px">Add Services</a><a class="btn btn-brand-secondary ml-2" href="/search" style="min-width: 200px">Choose Numbers</a></div>
  </div>
<section>

<section class="container py-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="ai-phone me-2"></i>
          Phones
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="ai-headphones me-2"></i>
          Accessories
        </a>
    </li>
  @*<li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>*@
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row pt-5 row-cols-1 row-cols-md-3">
        @{
            var inCart = Model?.Cart?.ProductOrders;
            var products = Model.Phones;
            foreach (var product in products?.Where(x => x.Public is true).OrderBy(x => x.DisplayPriority))
            {
                var quantity = 0;
                var quantityCount = inCart?.Where(x => x.ProductId == product.ProductId).FirstOrDefault();
                if ((quantityCount is not null) && (quantityCount.Quantity > 0))
                {
                    quantity = quantityCount.Quantity;
                }
        <div class="col mb-4" id="@product.Name">
          <div class="card h-100 card-hover">
              <img class="card-img-top" src="@product.Image" />
              <div class="card-body pb-2">
                <div class="d-flex">
                  <h3 class="card-title flex-grow-1">@product.Name</h3>
                  <span class="h3 text-primary">$@product.Price</span>
                  </div>
                </div>
                <p class="card-text fs-sm">@product.Description</p>
              </div>
              <div class="card-footer" style="border-top: none">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="input-group mb-3">
                      @{
                          if (quantity > 0)
                          {
                              <input id="@product.ProductId" type="number" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@quantity" min="0" oninput="validity.valid||(value='');">
                          }
                          else
                          {
                              <input id="@product.ProductId" type="number" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" min="0" oninput="validity.valid||(value='');">
                          }
                      }
                      <button type="submit" class="btn btn-outline-primary" onclick="AddToCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)">Add To Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              }
          }
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row pt-5 row-cols-1 row-cols-md-3">
      @{
          foreach (var product in Model.Accessories?.Where(x => x.Public is true).OrderBy(x => x.DisplayPriority))
          {
              var quantity = 0;
              var quantityCount = inCart?.Where(x => x.ProductId == product.ProductId).FirstOrDefault();
              if ((quantityCount is not null) && (quantityCount.Quantity > 0))
              {
                  quantity = quantityCount.Quantity;
              }
      <div class="card h-100 card-hover">
        <img class="card-img-top" src="@product.Image" />
        <div class="card-body pb-2">
          <div class="d-flex">
            <h3 class="card-title flex-grow-1">@product.Name</h3>
            <span class="h3 text-primary">$@product.Price</span>
          </div>
          <p class="card-text fs-sm">@product.Description</p>
        </div>
        <div class="card-footer" style="border-top: none">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <div class="input-group mb-3">
                @{
                    if (quantity > 0)
                    {
                        <input id="@product.ProductId" type="number" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@quantity">
                    }
                    else
                    {
                        <input id="@product.ProductId" type="number" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                    }
                }
                <button type="submit" class="btn btn-outline-primary" onclick="AddToCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
            }
        }
    </div>
  </div>
  @*<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>*@
</section>
