@model HardwareResult
@{
    ViewData["Title"] = "Hardware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">Find the right Phone</h1>
                <h4 class="display-4 text-light d-block d-sm-none">Find the right Phone</h4>
                <p class="lead text-white">Get exactly the right tool for your job.</p>
            </div>
        </div>
    </div>
</section>
<div class="pt-5 pb-3">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @if (Model.Accessories.Any())
            {
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="Hardware" id="phones" role="tab" aria-selected="true">Phones</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="accessories" href="Accessories" role="tab" aria-selected="false">Accessories</a>
                </li>
            }
            else
            {
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="phones" href="Hardware" role="tab" aria-selected="true">Phones</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="accessories" href="Accessories" role="tab" aria-selected="false">Accessories</a>
                </li>
            }
        </ul>
        <br />
        <div class="tab-content" id="myTabContent">
            @if (Model.Accessories.Any())
            {
                <div class="tab-pane fade show active" id="accessoriescontent" role="tabpanel" aria-labelledby="accessories-tab">
                    <div class="row row-cols-1 row-cols-md-3">
                        @if (Model?.Cart?.ProductOrders is not null && Model?.Accessories is not null && Model.Accessories.Any())
                        {
                            var inCart = Model.Cart.ProductOrders;

                            foreach (var product in Model.Accessories.Where(x => x.Public is true).OrderBy(x => x.DisplayPriority))
                            {
                                var quantity = 0;
                                var quantityCount = inCart?.Where(x => x.ProductId == product.ProductId).FirstOrDefault();
                                if (quantityCount is not null && quantityCount.Quantity > 0)
                                {
                                    quantity = quantityCount.Quantity;
                                }

                                <div class="col mb-4" id="@product.Name">
                                    <div class="card h-100 shadow">
                                        @if (string.IsNullOrWhiteSpace(product.VendorFeatures))
                                        {
                                            <img class="card-img-top" src="@product.Image" title="@product.Name" loading="lazy" />
                                        }
                                        else
                                        {
                                            <a href="Hardware/@product.Name">
                                                <img class="card-img-top" src="@product.Image" title="@product.Name" loading="lazy" />
                                            </a>
                                        }
                                        <div class="card-body">
                                            <div class="card-title">
                                                <h4 class="display-4">
                                                    @product.Name
                                                    @if (!string.IsNullOrWhiteSpace(product.VendorFeatures))
                                                    {
                                                        <a class="btn btn-outline-info float-right" href="/Hardware/@product.Name">About</a>
                                                    }
                                                </h4>
                                            </div>
                                            <p class="card-text">@product.Description</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <large class="text-primary pr-4">
                                                    $@product.Price
                                                </large>
                                                <div class="btn-group">
                                                    <div class="input-group">
                                                        @if (quantity > 0)
                                                        {
                                                            <input id="@product.ProductId" type="number" min="0" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@quantity">
                                                            <div class="input-group-append">
                                                                <button onclick="RemoveFromCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)" class="btn btn-outline-danger">
                                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>
                                                                    Remove
                                                                </button>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <input id="@product.ProductId" type="number" min="0" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-outline-primary" onclick="AddToCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)">
                                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                                    Add To Cart
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <br />
                    </div>
                </div>

            }
            else
            {
                <div class="tab-pane fade show active" id="phonescontent" role="tabpanel" aria-labelledby="phones-tab">
                    <div class="row row-cols-1 row-cols-md-3">
                        @if (Model?.Cart?.ProductOrders is not null && Model?.Phones is not null)
                        {
                            var inCart = Model.Cart.ProductOrders;
                            var products = Model.Phones;
                            foreach (var product in products.Where(x => x.Public is true).OrderBy(x => x.DisplayPriority))
                            {
                                var quantity = 0;
                                var quantityCount = inCart?.Where(x => x.ProductId == product.ProductId).FirstOrDefault();
                                if ((quantityCount is not null) && (quantityCount.Quantity > 0))
                                {
                                    quantity = quantityCount.Quantity;
                                }

                                <div class="col mb-4" id="@product.Name">
                                    <div class="card h-100 shadow">
                                        @if (string.IsNullOrWhiteSpace(product.VendorFeatures))
                                        {
                                            <img class="card-img-top" src="@product.Image" title="@product.Name" loading="lazy" />
                                        }
                                        else
                                        {
                                            <a href="Hardware/@product.Name">
                                                <img class="card-img-top" src="@product.Image" title="@product.Name" loading="lazy" />
                                            </a>
                                        }
                                        <div class="card-body">
                                            <div class="card-title">
                                                <h4 class="display-4">
                                                    @product.Name
                                                    @if (!string.IsNullOrWhiteSpace(product.VendorFeatures))
                                                    {
                                                        <a class="btn btn-outline-info float-right" href="/Hardware/@product.Name">About</a>
                                                    }
                                                </h4>
                                            </div>
                                            <p class="card-text">@product.Description</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <large class="text-primary pr-4">
                                                    $@product.Price
                                                </large>
                                                <div class="btn-group">
                                                    <div class="input-group">
                                                        @if (quantity > 0)
                                                        {
                                                            <input id="@product.ProductId" type="number" min="0" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@quantity">
                                                            <div class="input-group-append">
                                                                <button onclick="RemoveFromCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)" class="btn btn-outline-danger">
                                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>
                                                                    Remove
                                                                </button>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <input id="@product.ProductId" type="number" min="0" class="form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-outline-primary" onclick="AddToCart('Product', '@product.ProductId', $('#@product.ProductId').val(), this)">
                                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                                    Add To Cart
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <br />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="mt-auto fixed-bottom bg-white p-3 shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="Services" asp-action="Index">◁ Add Services</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Search" asp-action="Index">Add Numbers ▷</a>
            </div>
        </div>
    </div>
</div>
