@model HardwareResult
@{
    ViewData["Title"] = "Hardware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Our Hardware Price List</h1>
    </div>
    <br />
    <div class="table-responsive-xl">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Public Price
                    </th>
                    <th>
                        Vendor Part Number
                    </th>
                    <th>
                        Vendor Unit Price
                    </th>
                    <th>
                        Vendor MSRP
                    </th>
                    <th>
                        Vendor MAP
                    </th>
                    <th>
                        Publicly Visible
                    </th>
                    <th>
                        Local Inventory
                    </th>
                    <th>
                        Remote Inventory
                    </th>
                    <th>
                        Support
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var product in Model?.Phones)
                    {
                        <tr>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Price.ToString("C2")
                            </td>
                            <td>
                                @product.VendorPartNumber
                            </td>
                            <td>
                                @product.Vendor?.UnitPrice.ToString("C2")
                            </td>
                            <td>
                                @product.Vendor?.MSRP.ToString("C2")
                            </td>
                            <td>
                                @product.Vendor?.MAP.ToString("C2")
                            </td>
                            <td>
                                @product.Public
                            </td>
                            <td>
                                @product.QuantityAvailable
                            </td>
                            <td>
                                @product.Vendor?.Quantity
                            </td>
                            <td>
                                @{
                                    if (!string.IsNullOrWhiteSpace(product.SupportLink))
                                    {
                                        <a class="btn btn-outline-info float-right" href="@product.SupportLink">Learn More</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>