@model IEnumerable<AccelerateNetworks.Operations.ProductShipment>

@{
    ViewData["Title"] = "Shipments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 p-3">📦 Product Shipment</h1>
    <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Purchase Price
                </th>
                <th scope="col">
                    Shipment Source
                </th>
                <th scope="col">
                    Shipment Type
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col">
                    Date Created
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var shipment in Model.OrderByDescending(x => x.DateCreated))
                {
                    <tr>
                        <td>
                            @shipment.Name
                        </td>
                        <td>
                            @shipment.PurchasePrice
                        </td>
                        <td>
                            @shipment.ShipmentSource
                        </td>
                        <td>
                            @shipment.ShipmentType
                        </td>
                        <td>
                            @shipment.Quantity
                        </td>
                        <td>
                            @shipment.DateCreated
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@shipment.ProductId" class="btn btn-outline-primary">Product</a>
                                <a asp-action="Edit" asp-route-id="@shipment.ProductShipmentId" class="btn btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@shipment.ProductShipmentId" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@shipment.ProductShipmentId" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>