@model NumberSearch.Mvc.PortingResults;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var alreadyInCart = Model?.Cart?.PortedPhoneNumbers.ToDictionary(x => x?.PortedDialedNumber, x => x);

    var searchText = string.Empty;
    if (Model?.Query != null)
    {
        searchText = Model.Query;
    }
}
<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">Keep your number</h1>
                <p class="lead text-white">Type your existing phone number in below to add it to your order and bring it with you.</p>
            </div>
        </div>
    </div>
</section>
<div class="bg-light pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>🌎 To search by area code, enter the area code and press search.</p>
                <p>💼 To bring your number with you, enter the 10 digit number and press search.</p>
                <p>🛠️ For advanced search, use * to pad your search, for example ***word to search for a number containing word, but exclude the area code.</p>
            </div>
            <div class="offset-xl-2 offset-lg-1"></div>
            <div class="col">
                <form class="justify-content-center" action="/Search">
                    <div class="form-group">
                        <div class="input-group mx-auto input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+1</span>
                            </div>
                            <input type="text" name="Query" class="form-control" placeholder="Enter a Phone Number" value="@searchText">
                        </div>
                        <div class="input-group mx-auto input-group-lg pt-2">
                            <button type="submit" class="btn btn-lg btn-success btn-block" onclick="displayBusyIndicator(this)">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-3">

        @{
            if (Model != null && !string.IsNullOrWhiteSpace(Model?.PortedPhoneNumber?.PortedDialedNumber))
            {
                var alertType = Model?.AlertType ?? "alert-success";
                <div class="alert @alertType col-12" role="alert">
                    @{
                        var message = Model?.Message ?? "This phone number can be ported to our network!";
                    }
                    @message
                </div>
                <div class="table-responsive shadow-sm">
                    <table class="table table-striped table-borderless table-hover">
                        <tbody>
                            @{
                                var location = $"{Model.PortedPhoneNumber?.City ?? "Unknown City"}, {Model.PortedPhoneNumber?.State ?? "Unknown State"}";
                                var formattedNumber = $"({Model.PortedPhoneNumber.NPA}) {Model.PortedPhoneNumber.NXX}-{Model.PortedPhoneNumber.XXXX.ToString("0000")}";
                                var number = Model.PortedPhoneNumber.PortedDialedNumber;
                                <tr>
                                    <td scope="row"><h4>@formattedNumber</h4></td>
                                    <td class="d-none d-sm-table-cell">@Html.Raw(number)</td>
                                    <td class="d-none d-sm-table-cell">@location</td>
                                    <td></td>
                                    <td>
                                        @{
                                            if (alreadyInCart.TryGetValue(Model.PortedPhoneNumber.PortedDialedNumber, out var _))
                                            {
                                                <button onclick="RemoveFromCart('PortedPhoneNumber', '@Model.PortedPhoneNumber.PortedDialedNumber', 1, this)" class="btn btn-outline-danger">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Remove
                                                </button>
                                            }
                                            else
                                            {
                                                <button onclick="AddToCart('PortedPhoneNumber', '@Model.PortedPhoneNumber.PortedDialedNumber', 1, this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            @if (Model?.PortedPhoneNumber?.LrnLookup != null)
                            {
                                <tr>
                                    <th>
                                        Phone Number
                                    </th>
                                    <th>
                                        Last Port Date
                                    </th>
                                    <th>
                                        Caller Name
                                    </th>
                                    <th>
                                        Local Routing #
                                    </th>
                                    <th>
                                        Carrier
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>@Model?.PortedPhoneNumber?.LrnLookup?.tn</h4>
                                    </td>
                                    <td>
                                        @Model?.PortedPhoneNumber?.LrnLookup?.LastPorted
                                    </td>
                                    <td>
                                        @Model?.PortedPhoneNumber?.LrnLookup?.LIDBName
                                    </td>
                                    <td>
                                        <h4>@Model?.PortedPhoneNumber?.LrnLookup?.lrn</h4>
                                    </td>
                                    <td>
                                        <p>
                                            @Model?.PortedPhoneNumber?.LrnLookup?.spid
                                            -
                                            @Model?.PortedPhoneNumber?.LrnLookup?.lec
                                            -
                                            @Model?.PortedPhoneNumber?.LrnLookup?.lectype
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger col-12 mt-3" role="alert">
                    Did you receive a <strong>SPAM</strong> text message from this number? Forward that message to 7726 to <a href="https://www.consumer.ftc.gov/articles/how-recognize-and-report-spam-text-messages" target="_blank">report it</a>.
                </div>
            }
            else if (Model?.Cart != null && string.IsNullOrWhiteSpace(Model?.PortedPhoneNumber?.PortedDialedNumber))
            {
                var alertType = Model?.AlertType ?? "alert-danger";
                <div class="alert @alertType col-12 pt-3" role="alert">
                    @{
                        var message = Model?.Message ?? "The phone number entered isn't portable to our network. Please try another number or contact us directly for more information.";
                    }
                    @message
                </div>
            }
        }
    </div>
</div>
<div class="mt-auto fixed-bottom bg-white p-3 shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="Hardware" asp-action="Index">◁ Add Hardware</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Cart" asp-action="Index">Review your Cart 🛒</a>
            </div>
        </div>
    </div>
</div>