@using AccelerateNetworks.Operations
@model IEnumerable<PurchasedPhoneNumber>
@{
    ViewData["Title"] = "Purchased Numbers";
}
<h1 class="display-4 p-3">🧾 Purchased Numbers</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th scope="col">
                    Date Ordered
                </th>
                <th scope="col">
                    Order Information
                </th>
                <th scope="col">
                    Raw Response
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model?.FirstOrDefault() is null)
                {
                    <tr>
                                    <td colspan="4" class="alert-danger">There is no record of this number being purchased. ❓</td>
                    </tr>
                }
                else
                {
                    foreach (var order in Model.Where(x => x?.IngestedFrom != "Test"))
                    {
                        var ingestedBadge = order?.IngestedFrom;
                        switch (order?.IngestedFrom)
                        {
                            case "FirstPointCom":
                                ingestedBadge = "<h4><span class='badge bg-info'>FirstPointCom</span></h4>";
                                break;
                            case "BulkVS":
                                ingestedBadge = "<h4><span class='badge bg-primary'>BulkVS</span></h4>";
                                break;
                            case "TeleMessage":
                                ingestedBadge = "<h4><span class='badge bg-warning'>TeleMessage</span></h4>";
                                break;
                        }
                        <tr>
                            <td data-order="@order.DateOrdered.Ticks">
                                <h4>@order.DialedNumber</h4>
                            </td>
                            <td scope="row">
                                <a href="https://acceleratenetworks.com/cart/order/@order.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                    Order
                                </a>
                                <h4 class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="badge bg-info rounded-pill">
                                        @order.DateOrdered
                                    </span>
                                </h4>
                                @{
                                    if (order.Completed)
                                    {
                                        <h4><span class="badge bg-success">Completed</span></h4>
                                    }
                                    else
                                    {
                                        <h4><span class="badge bg-danger">Failed</span></h4>
                                    }
                                }
                            </td>
                            <td>
                                @Html.Raw(ingestedBadge)
                                <strong>Date Ingested</strong>
                                <p>@order.DateIngested</p>
                            </td>
                            <td class="text-break">
                                @order.OrderResponse
                            </td>
                        </tr>
                    }

                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">
        <a>
            <a asp-controller="Home" asp-action="ExportNumberOrders" target="_blank" class="btn btn-primary">Export as CSV</a>
        </a>
    </div>
</div>